[2017-09-04 03:55] CBinet commented on #666
I'm currently working on a .NET Core version something that would work a bit like AutoFixture. Will keep you guys updated when i'm finished.

[2017-09-04 08:03] zvirja commented on #666
BTW, the .NET Core support is ready, however packages have been published to the [private](https://github.com/AutoFixture/AutoFixture#vnext-feed) feed only so far. Refer to the [Gallery](https://www.myget.org/gallery/autofixture) to see whether the library you need supports .NET Core.

We are planning to have a public release in the nearby future, however we have some things to[ finish before](htt

[2017-09-04 08:14] zvirja commented on #703
@klimisa It's a pity to hear that you don't have free time for that and decided to leave the project 😞😢  However, I do understand that decision and we indeed are doing a lot. Thank you for all the activity you did and time you spent on this project and thanks for be my colleague in the Release Management group 😄

If you have time in future, feel free to get back and contribute further to the proje

[2017-09-05 12:32] zvirja commented on #754
@sm-g I've just tested your case using the following code:
[code]

My setup:
- VS 2017 Update 3
- Target Framework - 4.6.1
- NUnit version - 3.8.1
- NUnit3TestAdapter versin - 3.8.0

I've opened the VS Test window and run all the tests. Result:
![image](https://user-images.githubusercontent.com/1074182/30061145-e66e212e-924e-11e7-8a3a-ec4332691e2c.png)

Notice, we know about the issue that VS runn

[2017-09-06 16:03] zvirja commented on #701
Issue has been fixed in R# 2017.2 and is no longer reproducible 🎉🎉🌟

[2017-09-06 16:03] #701 closed

[2017-09-07 08:28] zvirja commented on #703
@moodmosaic It seems that @ecampidoglio is still very busy to participate in this project and put his reply. Given that there is no sense of ETA when he will arrive back, may I consider the proposal above as confirmed, so I can proceed further and merge #811 (which was created about 2 weeks ago)? As I previously mentioned, I'll apply only insignificant house keeping changes and for major ones (lik

[2017-09-08 11:38] moodmosaic commented on #703
@ecampidoglio, do you agree with what I proposed [here](https://github.com/AutoFixture/AutoFixture/issues/703#issuecomment-326540892) 😃

[2017-09-09 06:24] zvirja commented on #803
Fixed

[2017-09-09 06:24] #803 closed

[2017-09-09 16:53] Kralizek commented on #815
Wouldn't be best to aim to support only .NET Standard 1.5 ?

[2017-09-09 18:15] zvirja commented on #815
@Kralizek I see a few major reasons to support .NET 4.5 explicitly:
- We target .NET Standard 1.5 that is supportable starting .NET 4.6. Meaning, that we'll automatically abandon .NET 4.5.
- There are feature specific to desktop only and are missing on .NET Standard (e.g. serializable exceptions, [MailAddress](https://github.com/AutoFixture/AutoFixture/blob/cc12c22e47b94d232a6a3b540d791de2f6b0639e

[2017-09-10 15:41] Dev-I-Ant opened #831 "AutoMoqData runs several times for one test"
Pasting from [this SO post](https://stackoverflow.com/q/46141256/1679537) for reference :

I've been using AutoFixture / AutoMoqData / Nunit for several months now, quite happily so far.

But I'm getting stuck on something weird:

If I want to run a single test in a test suite (using TestDriven), it seems that the AutoMoqData attribute is launched several times (between 5 and 9, but I don't really

[2017-09-11 08:24] zvirja commented on #637
Will be fixed in v4.

[2017-09-11 08:24] #637 closed

[2017-09-11 11:24] zvirja opened #833 "Extract SemanticComparision to a standalone repo"
I've recently learned that previously the SemanticComparison component was a part of AutoFixture, however later it has been extracted to a standalone library. Currently the SemanticComparison library doesn't contain any references to the AutoFixture is not longer a part of the products family.

I suggest to extract this library to a standalone repository inside the AutoFixture organization. My mai

[2017-09-11 16:35] zvirja commented on #831
@Dev-I-Ant Thank you for registering this issue!

As far as I got it, your scenario can be simplified to the one below. Here I also capture the value to a static variable during the fixture construction:
[code]

This test also fails on NUnit3 and passes on xUnit2.

The issue happens because our custom Data attributes might be created for a multiple times during the test execution and that purely d

[2017-09-12 07:18] Dev-I-Ant commented on #831
@zvirja Thanks for the extensive answer, seems you got it right :)

I'll test all that right away. Also, this fixture lazy loading seems promising :)

[2017-09-12 08:24] zvirja commented on #686
Done!

[2017-09-12 08:24] #686 closed

[2017-09-12 10:19] zvirja commented on #703
@moodmosaic It seems that your summon didn't help a lot 😄

Given that, could we proceed further as in any case we have nobody available to review those changes?

[2017-09-12 11:32] zvirja commented on #691
Is fixed in v4.

[2017-09-12 11:32] #691 closed

[2017-09-13 08:53] moodmosaic commented on #703
@zvirja, it looks like @ecampidoglio [is (and will be more) busy](https://megakemp.com/2017/09/13/the-next-step/) (in a *great* way) so let's wait him for another week 😄 🎉

[2017-09-13 12:13] zvirja commented on #703
@moodmosaic Let me speak fairly. While I do understand your intention, the options are unclear to me. Given that Enrico has been already missing for couple months and you expect that he will be even more busy, who is expected to review such PRs?

Currently you @moodmosaic and @adamchester are pretty overwhelmed with your work (and probably external life 😄). The time you can allocate for this proje

[2017-09-14 09:45] zvirja commented on #821
I decided to follow a bit different approach - I created a standalone organization for that project: https://github.com/AlbedoOrg.  We'll transfer the project there and I'll add the .NET Standard support. I'll do that myself by applying the similar layout as we have here. Later other guys like @moodmosaic @ecampidoglio could also participate if they wish.

Currently [I'm waiting](https://github.co

[2017-09-15 07:07] zvirja commented on #151
@moodmosaic I'm a bit confused by the plan, so could you please clarify it? The idea is to move the `Create` method overloads with a seed to a standalone Nuget package like `AutoFixture.SeededCreation`. It's fine.

However, the point with obsoletion confuses me. If we move extension methods to a standalone lib, we will to completely remove overloads from the AutoFixture library, rather than obsole

[2017-09-18 02:30] moodmosaic commented on #833
I don't know... Why not just leave it as-is?

...Perhaps I'm saying this because I tend to keep existing stuff the way they are―to preserve history, and because usually my time is limited―so I'll leave this change up to you, then.

[2017-09-18 02:46] moodmosaic commented on #703
@zvirja, I was hoping to hear back from @ecampidoglio as he was the one who suggested that [all PRs should be approved by at least two people from the @AutoFixture/core team before being merged [..]](https://github.com/AutoFixture/AutoFixture/issues/703#issuecomment-290217987).

Apparently, @ecampidoglio must be busy (which is a good thing!) as the last time he commented on this thread was [on Mar

[2017-09-18 09:15] zvirja commented on #592
Should be fixed in v4. The test above no longer fails with a new integration approach introduced in #832.

[2017-09-18 09:15] #592 closed

[2017-09-18 09:16] zvirja commented on #653
Fixed in v4. The `PropertyInfo` requests are issued for the Properties.

[2017-09-18 09:16] #653 closed

[2017-09-18 09:17] zvirja commented on #707
Fixed in v4. If argument is modified during call dispatch (e.g. in `When...Do` block, AutoFixture no longer updates the argument).

[2017-09-18 09:17] #707 closed

[2017-09-18 09:19] zvirja commented on #720
Is finally fixed in v4. We reworked the integration approach and now generic methods are fully supported. Will be able to consume that when we release v4.

@pipedreambomb Would appreciate if you early test that using our [private feed](https://github.com/AutoFixture/AutoFixture#vnext-feed).

[2017-09-18 09:19] #720 closed

[2017-09-18 09:20] zvirja commented on #784
Followed that approach in #832, so now we require NSubstitute 2 for our integration.

[2017-09-18 09:20] #784 closed

[2017-09-18 11:17] zvirja commented on #833
The main reason for me is to not release new versions of the product when nothing changes. There might be people who use `SemanticComparison` library and don't use `AutoFixture`. It might be weird for them to see new versions when actually nothing changes in the component for years. Of course, we have the same situation for all the AutoFixture products family, however there _there is a risk_ that

[2017-09-18 19:33] moodmosaic commented on #833
Yes, you did 😉

[2017-09-19 14:35] #815 closed

[2017-09-19 14:36] zvirja commented on #815
Done! Now we target `v4.5.2`.

[2017-09-21 08:51] zvirja commented on #821
We already transferred the repo, so this question should be closed. I'll add @adamchester and @moodmosaic as co-owners, as they contributed to the library in past.

[2017-09-21 08:51] #821 closed

[2017-09-23 12:56] moodmosaic commented on #821
You should also add @jwChung. He did a lot of great work in Albedo.

[2017-09-23 17:12] zvirja commented on #821
Sure, no concerns from my side. Please add him - you also have admin rights :blush:

[2017-09-24 10:00] jwChung commented on #821
@moodmosaic Long time no see. Thank you for your kind attention. @zvirja

[2017-09-25 08:18] moodmosaic commented on #821
@jwChung, you are welcome! I've just invited you a few hours ago.

[2017-09-25 18:27] zvirja commented on #151
moodmosaic Pinging in case you missed this thread😉

[2017-09-25 21:22] zvirja opened #842 "Add `IParameterCustomizationSource` interface to AutoFixture project"
Currently our test framework specific glue libraries (for NUnit and xUnit) have [CustomizeAttribute](https://github.com/AutoFixture/AutoFixture/blob/06ca10bf1c12c914f9c0d8218351709cbfe605ac/Src/AutoFixture.xUnit.net2/CustomizeAttribute.cs#L11) class to enable parameter specific customizations. We even have built-in attributes like `Frozen` or `Greedy` which use this extension point. This mechanism

[2017-09-25 21:47] zvirja commented on #650
@moodmosaic Could you please clarify which exact action is required here? If we need to  obsolete/remove something, we can do that in v4..

[2017-09-26 10:07] zvirja commented on #724
Added a fail-fast guard in v4.

[2017-09-26 10:07] #724 closed

[2017-09-26 12:24] moodmosaic commented on #650
IIRC, the idea was to deprecate the Likeness class(es)... There's also a bug in the Common Intermediate Language we produce through the ProxyGenerator, hence [that](https://github.com/AutoFixture/AutoFixture/issues/650#issuecomment-226473093) comment of mine.

Perhaps there should be a *post*-v4 list with such items?

[2017-09-26 12:28] moodmosaic commented on #842
The overall idea makes sense to me. It'll also invoke the rule of three... And while you're doing a great job mentioning the advantages of this new approach, what about the disadvantage(s)?

[2017-09-26 12:29] moodmosaic commented on #151
IIRC, the idea was to create a new *AutoFixture.Something* library and move those overloads there, but keep the same namespace in that hypothetical library.

[2017-09-26 15:29] zvirja commented on #842
So far I see a couple of disadvantages:

1. In fact, AutoFixture is not the best place for this interface, as it should "know nothing" about the potential glue libraries. While we introduce this interface there, the library itself will not use it - those are glue libraries, which are the main clients of this interface. Therefore, it's a bit "dirty" approach. From architectural perspective, we shou

[2017-09-26 19:35] zvirja commented on #151
@moodmosaic Thanks for the confirmation.

As for the package name, I could advice the following ones:
- `AutoFixture.SeededCreation`
- `AutoFixture.CreateFromSeed`
- `AutoFixture.Seed`
- `AutoFixture.SeedExtensions`

Do you like any name? The last name looks the best for me. If you don't like the suggested names - do you see a more appropriate one? :wink:

[2017-09-27 09:29] moodmosaic commented on #151
AutoFixture.SeededCreation sounds great to me 👍 😃

[2017-09-27 09:42] moodmosaic commented on #842
This should be fine. After all, *"clients [...] own the abstract interfaces"* (Agile Principles, Patterns, and Practices, chapter 11).

What happens if he or she doesn't install the auto-mocking library?

---

This sounds scary. —This sounds like cyclic dependencies. Cyclic dependencies are often the indirect outcome of coupled design, and this can make the code base harder to maintain.

---

Let'

[2017-09-27 14:02] zvirja commented on #650
@moodmosaic Sure, we can handle it after. The only concern for my side what if some breaking changes are required by this issue. If not - let's release that after v4 :relaxed:

[2017-09-27 15:00] zvirja commented on #842
Nothing :wink: Those customization attributes are expected to be used in test methods, decorated with `AutoData` like attributes:
[code]
If you apply this attribute somewhere else nothing will happen - literally :smiley: Those attributes provide a customizatiom - it's a _caller_ responsibility (i.e. `AutoData` attribute) to get this customization and apply it to the Fixture instance. Therefore, th

[2017-09-27 15:06] zvirja commented on #831
@Dev-I-Ant Any updates on this one? Have you tried the suggested approach and have it worked for you?

[2017-09-28 13:17] selmendorfFrontline commented on #404
Hey Guys, not sure how far along the .NetCore work is, but is it possible to get an alpha version on NuGet?

[2017-09-28 13:48] zvirja commented on #404
@selmendorfFrontline Copying the reply [from here](https://github.com/AutoFixture/AutoFixture/pull/773#issuecomment-331559697):

Please use the package from the preview feed in the meanwhile. You can tune your `Nuget.config` as it was mentioned above, so this should be an issue.

[2017-09-28 16:42] zvirja opened #843 "[Performance] Make fixture creation lazy in AutoData attribute"
# Problem

Recently I analyzed the issue #831 and discovered that `AutoData` attribute might be constructed multiple times by the test engine during the test discovery and invocation. Not all the constructed instances are later used by the test engine to obtain the argument values (e.g. for xUnit [we disable](https://github.com/AutoFixture/AutoFixture/blob/d7187bb16d7adadff7e1d73e143b604c291a4990/

[2017-09-28 17:23] zvirja commented on #831
@Dev-I-Ant Thank you for the follow up :+1: In this case I'm closing this one. I've already created a separate issue to discuss the mentioned optimization.

[2017-09-28 17:23] #831 closed

[2017-09-29 08:30] moodmosaic commented on #843
I don't see why not. Although I can't remember people complaining about the performance...

The first option looks nice, but it'd be good to keep the existing constructor(s) as well, otherwise it'll be hard(er) for those upgrading to AutoFixture v4. (Not every AutoFixture user follows those GitHub issues.)

[2017-09-29 08:33] moodmosaic commented on #842
What's the purpose of adding `TestFrameworksFoundation`? What would be the alternatives?

[2017-09-29 08:42] zvirja commented on #842
The only purpose would be to have `IParameterCustomizationSource` definition.. So later it would be referenced if that interface is needed. But yep, it sounds like an overkill. :blush:

So, do you have any concerns after my reply on this?

[2017-09-29 09:12] zvirja commented on #843
Sure, I'll keep them obsoleted and explain in the message that the overload with a lambda should be used as it offers a better performance.

[2017-09-29 13:16] moodmosaic commented on #843
OK, and perhaps we should include the performance comparison results in the git commit message? Just to be in/sane enough!

[2017-09-29 13:21] moodmosaic commented on #842
I'd suggest to avoid introducing new libraries (like the hypothetical *TestFrameworksFoundation*). Or at least reconsider this in *post-v4*.

Let's see how a PR that adds IParameterCustomizationSource  to the core namespaces looks like. 🚀

[2017-09-30 20:55] zvirja commented on #207
Done for v4

[2017-09-30 20:55] #207 closed

[2017-10-02 09:28] zvirja commented on #770
Done!

[2017-10-02 09:28] #770 closed

[2017-10-02 15:23] zvirja commented on #703
Recently I did a series of minor housekeeping changes for our code base: #846, #847, #850 and #852. The main point is that those changes doesn't affect the logic somehow and are mostly related to the code style.

Currently I have permissions to modify our build scripts and project related files without approval. Would you agree to extend those permissions to such kind of codebase changes as well?

[2017-10-02 17:16] zvirja opened #854 "Sort customization attributes for InlineAutoData for NUnit3 glue library"
It seems that we simply forgot to sort attributes for that attribute - fix that and apply sorting. It's strange that users haven't registered an issue for us yet 😄

[2017-10-03 04:23] moodmosaic commented on #703
@zvirja, fine by me 👍 Thank you for all the hard work you are doing.

[2017-10-03 06:16] adamchester commented on #703
@zvirja find by me too :)

[2017-10-03 08:44] zvirja commented on #703
Thanks for the confirmation :sunglasses:

Given that Enrico is completely absent and doesn't participate for now, I'm considering this rule as agreed. @moodmosaic @adamchester Let me know if you disagree.

[2017-10-04 15:58] zvirja commented on #404
I'm going to close this issue after the #857 is finally merged. Our final .NET Compatibility table would be following:

| Product            | .NET Framework            | .NET Standard            |
| ------------------ | ------------------------  | ------------------------ |
| AutoFixture        | :heavy_check_mark: 4.5.2  | :heavy_check_mark: 1.5   |
| AutoFixture.xUnit  | :heavy_check_mark: 4.5.

[2017-10-04 17:00] MihaMarkic commented on #404
Go go go!

[2017-10-04 18:58] frblondin opened #858 "Optimization for NUnit3"
The [pull request providing the ability to generate fixed name for NUnit3](https://github.com/AutoFixture/AutoFixture/pull/709) has just been merged (thanks again @zvirja).

I'm working on a project containing 8,000+ tests. The discovery phase is longer than a minute. In Visual Studio there is a separate process for discovering the tests: during this phase there is no point to create the fixture n

[2017-10-05 07:52] sm-g commented on #541
I got "Moq, Version=4.1.1308.2120, Culture=neutral, PublicKeyToken=69f491c39445e920" FileLoadException after use AutoMoq in VS2017 in regular, `<TargetFrameworkVersion>v4.6.1</TargetFrameworkVersion>` project.

[code]

[2017-10-05 08:01] zvirja commented on #541
@sm-g Could you please create a separate issue for that? Also please provide me with a sample project (zip and attach) where I can reproduce the issue. This will simplify the investigation process.

Thank you in advance.

[2017-10-06 04:45] moodmosaic commented on #404
Have you tried switching to a newer F# version on that one? IIRC, it's on F# 3.1 and this might be the case (?)

[2017-10-06 05:17] Kralizek commented on #404
Great work @zvirja. Do you think we can get v4 out? The closer we get, the more excited i feel :)

I wish i could offer you a beer :)

[2017-10-06 07:53] zvirja commented on #747
Done!

[2017-10-06 07:53] #747 closed

[2017-10-06 07:53] zvirja commented on #797
Done

[2017-10-06 07:53] #797 closed

[2017-10-06 08:26] zvirja commented on #805
@remcomulder Just to update you, so we can finally close this issue.

As it has been discussed above, the xUnit framework is being natively supported. However, for NUnit the issue wasn't clear as it doesn't support tests with volatile names.

We recently merged a PR and released a new version of AutoFixture (`v3.51.0`) which add support for stable names for NUnit. For now, the manual actions are r

[2017-10-06 09:00] zvirja opened #862 "NUnit3: Make `FixedNameTestMethodBuilder` the default strategy"
Currently we have the [known issue](https://github.com/AutoFixture/AutoFixture/wiki/Known-Issues#test-name-strategies-for-nunit3) about manual actions for full NUnit integration support with VS and NCrunch runners. We should make the `FixedNameTestMethodBuilder` strategy the default one in v4, so everything works out-of-the-box.

If later user find that it needs volatile names for better diagnosti

[2017-10-06 09:15] zvirja opened #863 "Reserve 'AutoFixture' package prefix on the NuGet"
Currently NuGet has ability to reserve package prefix, so only owner could push packages with such a prefix (see [xunit](https://www.nuget.org/packages/xunit/) as an example). That will allow to avoid situations when third party packages are being published with identity close the original one, so clients might be unsure who published them.

Consider the [AutoFixture.NUnit3.PatchedName](https://ww

[2017-10-06 11:37] zvirja commented on #404
@moodmosaic Yep. If you check [FsCheck 2.9.0](https://www.nuget.org/packages/FsCheck/2.9.0) you will find that it depends on `FSharp.Core (>= 4.1.17)`, therefore I had no other choice 😅 The issue is rather with SDK. If I start to target both frameworks simultaneously, I'm unable to load the solution in VS
Project:
[code]

Trying to open in VS:
![image](https://user-images.githubusercontent.com/107

[2017-10-06 12:49] zvirja commented on #858
I've reviewed your suggestion thoroughly and here is my reply.

We already have the exactly same issue to make Fixture creation lazy and win some time: #843. It's queued to the v4 scope and will be implemented soon - I'm already working on that. As a part of that implementation I'll ensure that test arguments are created only if that is required by the `ITestMethodBuilder` (currently [the lazy `IE

[2017-10-06 13:30] zvirja opened #866 "v4 Release"
Here is the list of actions required to prepare for the v4 release.

Preparations:
- [x] Close all the PRs for `master` and freeze changes to the `master` branch till the release.
- [x] Close all the issues and PRs in the [v4 milestone](https://github.com/AutoFixture/AutoFixture/milestone/3).
- [x] Review all the v4 changes and compose the breaking changes document on Wiki (#888).
- [x] Update Rea

[2017-10-06 13:34] zvirja commented on #866
I have an idea to release a RC before releasing the final version. It could happen that something is broken, so we could get a feedback and fix that. Everything will be ready till that moment, so users could start to upgrade. If there are some last-minute issues, we could fix them before the final release. If not - we'll simply proceed it to RTM.

My concern is that this release contain too many c

[2017-10-06 14:17] moodmosaic commented on #866
Do `RC` and `RTM` play well with SemVer? I personally *hate* these `RT` and `RTM` versioning schemes 😆 If it's ready to release, then maybe it should be released (?) If something's broken, well, it'll be fixed (?)

[2017-10-06 14:35] zvirja commented on #866
Sure, it's [described here](http://semver.org/#spec-item-9).

For me the idea behind RC is to limit the audience for the "first wave" by people who are ready to participate in testing and sharing their feedback. Those people will be confused less if there are some issues and will report with higher chances - they are enthusiasts and they know what they are doing.

If we release the RTM only, it co

[2017-10-06 15:02] moodmosaic commented on #866
I don't know... I'd rather go straight and release version 4.0.0... Unless @AutoFixture/core has idea(s), I'll leave the final decision to you.

[2017-10-06 15:07] zvirja commented on #866
@moodmosaic Thanks for sharing your opinion! 👍 Could you also describe whether you see any issues with that?

Well, we have some time before the release, so let's see what @adamchester and @ecampidoglio think.

[2017-10-06 16:22] frblondin commented on #858
🥇

In reality the process name is the one from the runner - in my case the one from Visual Studio. If the process name changes the worst that would happen is that we won't properly detect that we are in the discovery phase (existing behavior). It seems very unlikely that a process named discovery will also be used as a runner.

As you said now that you are implementing the lazy behavior I'll be ab

[2017-10-06 17:05] moodmosaic commented on #866
With what? Avoiding `RC` and `RTM` is, well, just my opinion 😉 It doesn't mean you *have* to do it this way...

[2017-10-07 10:05] zvirja commented on #863
@ploeh As far as I got it, I'll need a verified account on Nuget to proceed on this direction. Would it be possible for you to share the credentials for the AutoFixture NuGet account? I'll later try to make it verified and perform NuGet name prefix reservation.

[2017-10-07 10:42] ploeh commented on #863
Sorry, I don't own the _AutoFixture_ NuGet account, and I don't know what the credentials are...

I'm not sure, but it _could_ be that it was created by @ecampidoglio...

[2017-10-07 16:28] zvirja opened #867 "Fix xUnit 2 glue library reference"
Quote from [here](https://xunit.github.io/releases/2.3)

We depend on `xunit.core`, which is not valid as per suggested guidelines.

[2017-10-07 16:29] zvirja commented on #863
@ecampidoglio Could you please take a look?

[2017-10-07 16:51] zvirja commented on #858
You rely on an assumption that NUnit doesn't use real argument values during the test discovery. While this might be so in the current versions, it could be changed in future (e.g. to hash values for some checksums, etc). In this case the optimization might totally break NUnit in unpredictable way.

Another point is that process name is a _very weak_ assumption as there too many different runners

[2017-10-07 16:59] frblondin commented on #858
Understood 👍

[2017-10-07 16:59] #858 closed

[2017-10-07 23:03] zvirja commented on #213
Merged.

[2017-10-07 23:03] #213 closed

[2017-10-07 23:31] zvirja opened #870 "Add support for NSubstitute 3"
Recently the NSubstitute 3 has been released: https://www.nuget.org/packages/NSubstitute/3.0.0. Add this version to the range of supported versions.

[2017-10-07 23:41] hubuk opened #871 "[4.0] Fixture.Create(null,null) throws NullReferenceException"
Version: 4.0.0-alpha.253

Following code throws `NullReferenceException`.
[code]
with stack trace:
[code]

Version 3 throws `ArgumentNullException` for first parameter `request` with stack trace:
[code]

[2017-10-08 00:31] zvirja commented on #871
Good catch :+1: Also special thanks for early product testing! :sports_medal:

Actually, that bug was present in the v3 as well, however it was a luck that previously we failed with adequate exception :smile:

I vote to add a guard directly to the `Fixture.Create()` method  to not allow null `request` or `context` values. It doesn't seem that AutoFixture supports `null` requests somehow.

@moodmos

[2017-10-08 13:33] zvirja commented on #744
Proceeded for v4.

[2017-10-08 13:33] #744 closed

[2017-10-08 13:33] zvirja commented on #776
Done!

[2017-10-08 13:33] #776 closed

[2017-10-08 15:06] zvirja commented on #870
Currently is blocked by https://github.com/nsubstitute/NSubstitute/issues/324. NSubstitute should publish fixed version and we'll support it. The 3.0.0 is expected to be unlisted.

[2017-10-08 16:43] zvirja opened #873 "Obsolete FixtureType property of AutoDataAttribute"
The `FixtureType` property was introduced at times when we had constructor taking the fixture `Type`. Now that constructor is totally deprecated, so the `FixtureType` property should be deprecated as well - as it's purpose is very unclear.

[2017-10-08 17:44] Kralizek commented on #866
Just to clarify, @zvirja, are you considering having a pre-release published on NuGet?

[2017-10-08 19:17] zvirja commented on #866
@Kralizek Yep, I have such a plan, unless @adamchester and @ecampidoglio (if he still participates in the project) have strong concerns against that.

[2017-10-08 22:18] zvirja commented on #723
@moodmosaic Could you please elaborate on this, so we finally close this issue? 😉

It looks is fine to me. Yep, it's a false-positive, however it looks like a pretty exotic case and `InnerException` is present, so I don't see any issue here and how that should be improved. In most cases _you don't_ want to see how exactly ctor failed if guard was missing - it's enough to simply know about issue.

[2017-10-08 22:29] zvirja commented on #870
Fixed from NSubsitute side

[2017-10-08 23:46] remcomulder commented on #805
@zvirja Thanks for looping me in on this.  I've given this work a quick test, and it looks solid to me.  By removing the random elements from the test names, the runner can consistently identify tests across sessions and all seems to be well :)

I do have an idea though that I think might save us some time in user support.  One problem we all find with software is that many people don't read the d

[2017-10-09 08:43] zvirja commented on #842
Implemented.

[2017-10-09 08:43] #842 closed

[2017-10-09 08:44] zvirja commented on #870
Done

[2017-10-09 08:44] #870 closed

[2017-10-09 09:02] ecampidoglio commented on #863
@zvirja I'll DM you the credentials for the AutoFixture account.

[2017-10-09 12:34] zvirja commented on #863
@ecampidoglio Thank you - the credentials have been transferred.

@onovotny @diverdan92 We would like to proceed with package prefix id reservation for the `AutoFixture` prefix as described [here](https://blog.nuget.org/20170417/Package-identity-and-trust.html). While I found the instruction, I wasn't able to find the starting point (neither on nuget.org or github) - email/place where I can issue

[2017-10-09 13:15] zvirja commented on #805
That's awesome! 🎉 Meaning that we can close this issue as now everything works fine. Thank you for the testing and your participation here 🥇

I think I ended up with a much better and simpler solution - we'll make the `FixedNameTestMethodBuilder` a default strategy in v4 (our next major release) which will be released in upcoming month or two. The appropriate PR [has been already approved](https:/

[2017-10-10 01:10] remcomulder commented on #805
That will work great for me :)  I'm happy!  Thanks for all your effort.

[2017-10-10 04:00] moodmosaic commented on #871
Probably that Guard Clause should be added in v4, as I think it'll break tons of existing behavior and tests.

[2017-10-10 09:16] zvirja commented on #805
Cool 😉 Thank you again for your replies and collaboration 👍

I'm closing this one as no actions are required more from both sides.

[2017-10-10 09:16] #805 closed

[2017-10-10 21:52] zvirja commented on #650
This issue has been migrated here: https://github.com/AutoFixture/SemanticComparison/issues/1

[2017-10-10 21:52] #650 closed

[2017-10-10 21:55] zvirja commented on #833
Done! Welcome a new repo within the AutoFixture organization: https://github.com/AutoFixture/SemanticComparison! 🎉🌟🌟

I've used the `git filter-branch` feature, so the files history is preserved till 2010.

Will keep this issue open till I remove the SemanticComparison project completely from this repo.

[2017-10-11 09:30] zvirja commented on #404
Just checked in VS 2017.4 and still cannot target multiple frameworks for F# project. Therefore, I'm closing this issue for now as we support .NET Core for all other projects.

[2017-10-11 09:30] #404 closed

[2017-10-11 09:32] zvirja opened #880 "Support .NET Core by Idioms.FSharp"
Currently there is a technical limitation in F# SDK and you cannot target multiple frameworks simultaneously (see [here](https://github.com/AutoFixture/AutoFixture/issues/404#issuecomment-334730885) for more detail). We should add .NET Core support when this issue is solved in future versions of VS.

[2017-10-11 09:39] gagandeep531 opened #881 "Please provide support for dotnet core 1.0,1.1,2.0 with mstest as well"
Hi Team,

Please provide support for dotnet core 1.0,1.1,2.0 with mstest as well.

We are facing difficulty in writing the unit test case for the same in absence of autofixture support

[2017-10-11 11:42] zvirja commented on #833
Done.

[2017-10-11 11:42] #833 closed

[2017-10-11 12:51] zvirja commented on #881
Could you please describe the issue in more detail? Currently AutoFixture doesn't provide any special support for MSTest (see #704). That is not specific to .NET Core - it's the same for .NET Framework.

However, you can still AutoFixture with MSTest by manually constricting the Fixture instance:

[code]

If your issue is about .NET Core support in general (not specific to MSTest) - this is what w

[2017-10-12 12:54] zvirja commented on #866
@adamchester We are very close to the v4 RC release. Currently all the main work has been done and I'm waiting till all the PRs are merged to proceed with the final preparations. It would be awesome if you could allocate an hour of free time and review the pending PRs. That will allow to close them quicker and all we will not to wait for 1 week for their expiration.

Hope you are capable of alloca

[2017-10-12 14:05] zvirja commented on #863
Just send the reservation request as that is described here: https://docs.microsoft.com/en-us/nuget/reference/id-prefix-reservation. I'm waiting for the reply.

[2017-10-12 14:23] zvirja commented on #863
OK. I got the MS mail firewall denial 😖 [Am waiting for the further clarifications](https://github.com/NuGet/Home/issues/5307#issuecomment-336151729) now...

[2017-10-12 14:33] Martin-Andersen opened #884 "After update I get "Theory must have test data" for AutoData attributes"
I have updated to latest xunit for visual studio 2017 and also updated all packages for xunit including AutoFixture. And now I get the compiler error:  "Theory must have test data"

` [Theory, AutoData]
        public void CanMapSearchDirectionToModel(SearchDirection direction)
        {  ..... }`

I have no clue on have to fix it, can you help me?

this is my package.config file

[code]

[2017-10-12 14:36] zvirja commented on #884
Yep, it's our good old known issue about xUnit integration package. Please install `AutoFixture.Xunit2` instead of `AutoFixture.Xunit`. The latter one is for xunit 1 😄

It will be fixed since v4: https://github.com/AutoFixture/AutoFixture/pull/835.

[2017-10-13 07:52] zvirja commented on #854
Done

[2017-10-13 07:52] #854 closed

[2017-10-13 08:07] zvirja commented on #862
Done! Strategy will be default in v4.

[2017-10-13 08:07] #862 closed

[2017-10-14 20:40] zvirja commented on #867
Done!

[2017-10-14 20:40] #867 closed

[2017-10-15 11:44] zvirja commented on #871
Fixed in v4. Now we fail fast with `ArgumentNullException` if you pass null value to either argument.

@hubuk Thanks again for raising this.

[2017-10-15 11:44] #871 closed

[2017-10-16 05:03] moodmosaic commented on #723
Well, the more information we can provide, the easier it can be to troubleshoot issues. If we can easily add the inner exception on the message, it'd be nice.

[2017-10-16 09:08] zvirja commented on #873
Done

[2017-10-16 09:08] #873 closed

[2017-10-16 09:54] zvirja commented on #843
Done! Implemented in v4

[2017-10-16 09:54] #843 closed

[2017-10-16 10:42] zvirja commented on #151
Done! Extracted methods to the `AutoFixture.SeedExtensions` package in v4.

[2017-10-16 10:42] #151 closed

[2017-10-16 20:44] zvirja commented on #745
Done! The "Ploeh" namespace and assembly name prefix will be removed from v4, so that it will start with "AutoFixture" instead. This change allows to reflect the updated ownership as now product is being developed by the AutoFixture team only.

[2017-10-16 20:44] #745 closed

[2017-10-16 21:47] zvirja commented on #754
@sm-g Any chance to review my answer? So we could decide what to do with this issue..

[2017-10-16 22:45] zvirja commented on #662
@bj0 Sorry for the belated reply.

This issue has been created long time ago. Are you still interested in the answer?😄Just found this one and want to understand whether it makes sense to spend time on it 😉

[2017-10-16 22:56] bj0 commented on #662
Well, someone might find it useful, but I'm currently not working on any C# projects so I don't have anything to test it on.

[2017-10-17 12:24] zvirja opened #888 "Add Release Notes for v4"
Add a wiki  article with release notes for v4. The following issues should be mentioned (sorted by priority).

Breaking changes:
- [x] Remove the 'Ploeh' namespace prefix (#745)
- [x] Move all Create overloads taking a seed to another library (#151)
- [x] NUnit3: Make `FixedNameTestMethodBuilder` the default strategy (#862)
- [x] RandomRangedNumberGenerator should be the default handler of RangedN

[2017-10-17 13:39] zvirja commented on #863
Done! Now our packages have the "Verified" mark 😊
![image](https://user-images.githubusercontent.com/1074182/31667019-de2aae50-b356-11e7-8580-70cef7209c72.png)

Also the `AutoFixture.*` package prefix is reserved, so only `AutoFixture`, `phoeh` and `AlexPovar` accounts could create packages with that prefix.

There is also an option to open some prefix for the community, so people could create the

[2017-10-17 14:19] frblondin commented on #863
Good news!

As per your questions:
* `AutoFixture.NUnit3.PatchedName`: we still need it for the lazy initialization of the fixture. This last part will be delivered in v4 in a week or so and my team still need to be able to create projects and get this package easily from nuget. this `AutoFixture.NUnit3.PatchedName` NuGet package is there for a year so I guess it can remain visible one more week?

[2017-10-17 14:27] zvirja commented on #863
Sure, no worries 😉 Just wanted to align our actions and ensure that we fix that somewhere in future. If you still need to perform _the new installations_ - it's a good reason to keep that till the release.

Thanks a lot for that! I've just accepted the ownership request so AutoFixture is an owner now.

[2017-10-17 14:39] frblondin commented on #863
... and I just removed myself as an owner.

[2017-10-17 14:58] zvirja commented on #863
Great. Now we can be sure that you will not accidentally remove the ownership in future 😄

----
@moodmosaic @adamchester Looking forward to your confirmation on [this](https://github.com/AutoFixture/AutoFixture/issues/863#issuecomment-337234427) to proceed further.

[2017-10-17 20:50] zvirja commented on #888
Done. Link: https://github.com/AutoFixture/AutoFixture/wiki/v4.0-Release-Notes

[2017-10-17 20:50] #888 closed

[2017-10-17 20:53] zvirja commented on #866
I've finished all the release preparations.

@moodmosaic Could you please review the Release Notes on the wiki and announcement in Readme? Here are the links:
ReadMe: https://github.com/AutoFixture/AutoFixture/tree/v4
Wiki: https://github.com/AutoFixture/AutoFixture/wiki/v4.0-Release-Notes

It could happen that I made some stupid typos, so fresh look might help 😉 Thanks in advance.

[2017-10-18 07:38] adamralph commented on #745
Bear in mind that this breaks the line of continuity as far as the assembly is concerned. I.e., the new package will not contain a new version of the assembly. Rather, the previous assembly will be removed, and replaced by a completely new assembly, with a new identity. This means that things like binding redirects cannot be made to work between the assembly contained in package 3.x and the assemb

[2017-10-18 07:40] adamralph commented on #745
BTW - have you checked the behaviour of NuGet when the package is upgraded? For SDK style projects, I guess everything will work just fine, since the project only contains a `<PackageReference>` element pointing to the package rather than assemblies. But with old style csproj, it may be worth verifying that NuGet makes the desired change to the assembly reference, from the one assembly to another.

[2017-10-18 08:57] sm-g commented on #754
Using you code (and same versions from Setup), I got FileNotFound exception ("nunit.framework, Version=3.0.5797.27539, Culture=neutral, PublicKeyToken=2638cd05610744eb") when run tests with testdriven.net, and nothing in TestExplorer.

my setups as yours, and AutoFixture.NUnit3 - 3.51.0

However, when I remove any conditions from `User` ctor, nothing changes. Just no way to use `AutoData`.

[2017-10-18 09:21] zvirja commented on #754
@sm-g Could you please attach the solution that causes the issue? Also specify the version of VS you use.

I don't have `TestDriven` and can test with VS runner only.

[2017-10-18 09:32] zvirja commented on #745
@adamralph Thanks for your concerns!

Yep, I know that. However, we have already changed the default namespace, meaning we changed identity for all the types within the assemblies. In this light assembly binding redirection will make no sense as code will not work in any case without re-compilation and imports fix. Therefore, I believe we are totally fine with that. It's a huge change, but it will

[2017-10-18 09:33] zvirja commented on #881
@gagandeep531 Any updates? 😉

[2017-10-18 09:34] zvirja commented on #884
Closing this one as I'm 99.9% sure my suggestion solves the issue. Please re-open if it doesn't.

[2017-10-18 09:34] #884 closed

[2017-10-18 10:07] gagandeep531 commented on #881
I want to create complex object instance without initializing it with any data. let’s say i want to auto populate all the properties of an employee object with default values which contain address object as well as manager object inside employee object.

Cheers,
Gagan

Sent from my iPhone

[2017-10-18 10:13] zvirja commented on #881
That's exactly what this product does. However, you issue is named "Please provide support for dotnet core 1.0,1.1,2.0 with mstest as well.". Could you elaborate which exact support you requested? Is that specific to MSTest or to .NET Core or to both?

[2017-10-18 10:17] gagandeep531 commented on #881
I was not able to install auto fixture in vs 2017 professional using nuget package manager.It rollback changes after installation is dmfailed. My application is built on dotnetcore 1.1 and we will migrate it to 2.0 in coming week.

Sent from my iPhone

[2017-10-18 10:19] zvirja commented on #881
OK, I got it. You request was about .NET Core support.

I'm going to perform `v4-rc1` release with .NET Core support later today, so you should be able to use AutoFixture.

Closing this one as no actions are actually required.

[2017-10-18 10:19] #881 closed

[2017-10-18 10:23] gagandeep531 commented on #881
Thanks Alex for your immediate support.

Cheers! 😀

Sent from my iPhone

[2017-10-18 11:18] ebbeflarup opened #890 "v4 release"
Quick question, wasn't todays merge of the AutoFixture v4 branch supposed to submit new NuGet packages or is that intentionally left for later?
I see in the build that the version number didn't change.

[2017-10-18 11:21] zvirja commented on #890
@ebbeflarup Thanks for following us 😉 Commits to the master are not supposed to trigger new releases. Rather, we need to create a tag to start the release process. I'm going to do that soon, so you'll see a published package 😉

[2017-10-18 11:21] #890 closed

[2017-10-18 12:35] zvirja commented on #866
Huh, finally done! v4 RC1 has been released a few moments ago! 🎉🎈 ✨🌟

Would like to thank everyone who participated in this release. This was quite a long way and we spent huge amount of resources to make this happen.

@moodmosaic Thanks for your active participation in the code review and various discussions. I know that sometimes you were overwhelmed by amount of the required attention, but you

[2017-10-18 12:35] #866 closed

[2017-10-18 14:44] zvirja commented on #404
JFYI: [I released](https://twitter.com/AutoFixture/status/920623108863741953) v4 rc1 to the NuGet, so you can consume and test without need to play with a custom feed.

[2017-10-18 14:44] zvirja commented on #881
JFYI: [I released](https://twitter.com/AutoFixture/status/920623108863741953) v4 rc1 to the NuGet, so you can consume and use it.

[2017-10-18 14:45] zvirja commented on #890
JFYI: [I released](https://twitter.com/AutoFixture/status/920623108863741953) v4 rc1 to the NuGet now 😉

[2017-10-18 16:19] abatishchev commented on #745
Yes, exactly.

[2017-10-18 18:42] zvirja opened #892 "Improve ObjectCreationException wrapping with full path"
This is improvement for the #694. Now we show full path on exception, however the following things should be improved:

1. Sometimes stack is very large and it might be hard to find the inner exception message. We should embed the inner exception messages directly to the wrapping exception message.
1. `ObjectCreationException` might be thrown in other places. In this case full path will not be add

[2017-10-19 16:29] zvirja commented on #723
I've just checked that and found that fixing of this particular scenario wouldn't help a lot. There are 7 more places throwing the `GuardClauseException` and we'll need to fix them all which will create a bit of mess.

I'm still not sure that the inner exception message is actually always helpful. If you missed the `null` value guard, your code will likely fail with an arbitrary exception as you h

[2017-10-19 17:16] sm-g commented on #754
http://ge.tt/8AldRym2

VS 15.4

[2017-10-20 07:47] zvirja commented on #754
@sm-g Thanks for sharing the project.

That happens because AssemblyBinding redirection generation is disabled in your project. That is not something specific to AutoFixture product itself - rather to how the .NET works.

To fix the issue add the following statements to the csproj file:
[code]

After that everything will work fine. If you change the `User` constructor to always trigger the excepti

[2017-10-20 09:20] frblondin commented on #858
FYI here is my implementation - just tested succeffully :-)

[code]

[2017-10-20 09:42] zvirja commented on #725
I believe we can close this issue as in v4 the `RandomRangedNumberCustomization` is [used by default](https://github.com/AutoFixture/AutoFixture/pull/845).

I've just tested and the issue isn't reproducible more on my machine:
[code]

Result:
[code]

The reason why the issue happened previously is that we used the sequence generator which produces values from min to max:
https://github.com/AutoFix

[2017-10-20 09:42] #725 closed

[2017-10-20 09:44] DixonDs commented on #98
I think this is a really valuable suggestion, and keeping this issue open could attract the attention of somebody who would want to submit a PR. I think closing feature requests without resolution makes sense only if this feature is not desired by the project maintainers.

[2017-10-20 09:46] zvirja commented on #98
@moodmosaic Could you please elaborate? 😉

[2017-10-20 09:48] zvirja commented on #858
@frblondin Thanks for sharing your implementation - looks pretty clean. It's awesome that new AutoFixture API allows you to easily perform such kind of optimizations saving the discovery time! 😃

[2017-10-20 09:54] zvirja commented on #863
I decided to proceed further and NuGet team has already opened the `AutoFixture.Community.*` namespace prefix to everyone. That should simplify things as now the ownership will be clear.

@moodmosaic @adamchester Let me know if you have any concerns regarding the naming.

Closing this one as no more actions are required here.

[2017-10-20 09:54] #863 closed

[2017-10-20 10:06] DixonDs opened #896 "EmptyStringBehaviorExpectation/WhitespaceOnlyStringBehaviorExpectation"
I think it would be a valuable addition for GuardClauseAssertion as it is a quite common case to have guards for empty/whitespace-only strings. What do you think?

[2017-10-20 16:26] sm-g commented on #754
Yes, thanks for that

[2017-10-20 16:26] #754 closed

[2017-10-21 03:58] moodmosaic commented on #863
Sounds actually like a decent idea 👍

[2017-10-21 04:00] moodmosaic commented on #98
@DixonDs, if you can come up with a reasonable algorithm for this (Value Object equality) I think it's fair to reopen this. Then reason I closed it is because I'm not sure how easy is to tackle this one.

Being close is still searchable, and once someones reaches here, he or she will also see the reason it was closed 😉

[2017-10-21 04:04] moodmosaic commented on #723
I doesn't necessarily have to be the *inner* exception per-se. Do we have other information we could add in the (existing) exception message?

[2017-10-21 04:08] moodmosaic commented on #866
ReadMe: https://github.com/AutoFixture/AutoFixture/tree/v4

This one seems broken.

[2017-10-21 08:15] zvirja commented on #866
It was the landing page for v4 branch. Now that branch is merged to `master`, so simply open the project page :wink:

[2017-10-21 19:46] zvirja commented on #723
I don't see how we could improve the existing message without adding the potentially misleading information. The scenario mentioned by Sergey is very rare and it doesn't worth it to describe it. Do you see something?

[2017-10-23 05:07] moodmosaic commented on #723
IME, if someone reaches up to the point of reporting an issue (like @sergeyshushlyapin did), it can probably means that the issue isn't *that* rare...

I defer the decision to @sergeyshushlyapin and you. :cowboy_hat_face:

[2017-10-23 08:46] zvirja commented on #723
Well, who knows, but it's a good point! 👍

@sergeyshushlyapin Could you please follow-up?

[2017-10-23 09:05] zvirja commented on #703
Previously we have agreed on [a rule](https://github.com/AutoFixture/AutoFixture/wiki/Project-processes#pull-request-review) that PR can be merged if it has one approval and one week of lifetime. The reason behind this week was to give an opportunity for other reviewers to jump-in. However, since we agreed on this rule, in fact that never happened (in more than 2 months). The reality is that @mood

[2017-10-23 21:59] zvirja commented on #896
Well, I haven't worked with Idioms too much, howevery my position is that as long as those expectations are pluggable and are disabled by default (so we don't introduce the breaking changes), I don't mind to have them as a part of the lib.

Let's see what @adamchester and @moodmosaic think about that - they worked longer on that lib.

[2017-10-24 12:10] zvirja opened #897 "Ranged request fails if request has same min and max"
Copied from twitter: https://twitter.com/robert_engdahl/status/922728353098067969

--

Personally I'm finding it weird to have same Min and Max value for the Range (e.g. `[Range(5,5)]`), however technically it looks correct and we should handle that gracefully by ending up with a single value.

@moodmosaic Could you please share your opinion on that? Do you agree that we shouldn't fail if range co

[2017-10-24 13:04] moodmosaic commented on #897
Perhaps, we should return `5` in `[Range(5, 5)]`, unless [`Range`](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.rangeattribute?view=netframework-4.7.1) itself throws so there's not much we can do.

[2017-10-24 13:06] zvirja commented on #897
Nope, it doesn't throw. Ok, let's fix that to make AutoFixture more robust 😉

[2017-10-24 13:07] moodmosaic commented on #703
👍 Fine by me.

[2017-10-24 18:31] adamchester commented on #703
Agreed, yes 👍

[2017-10-25 07:57] #453 closed

[2017-10-25 08:14] #892 closed

[2017-10-25 21:34] zvirja commented on #723
The suggested fix would lead to even more confusion as the automatically generated arguments could often lead to the failure. However that doesn't matter as long as null guard is present.

Consider the following method:
[code]

In this case when `message` is `null` expectation will fail with `ArbitraryException` and you might think that it's a problem. However, the problem is that you have missing

[2017-10-26 12:06] Ephasme opened #898 "FromFactory does not work as intended"
Hi,

[code]

This test fails using 4.0.0-rc1 on .NET Core 2
I think this is either misleading (or poorly documented) ~~or broken~~.
EDIT : It's not broken, see comments below.

[2017-10-26 12:12] Ephasme commented on #898
I noticed that if I add `.Without(_ => _.Property)` after the `FromFactory` method it works as intended.
I think that this is very counter intuitive but since it's not a bug we can close this.

[2017-10-26 12:26] zvirja commented on #898
Well, it's likely an issue with our documentation ☺️

By default AutoFixture automatically populates properties with public setters, unless you disable that behavior by setting `fixture.OmitAutoProperties = true`. The `composer.FromFactory()` method allows you to specify how to activate the instance of the particular type, however the properties will still be assigned for the object later.

Actual

[2017-10-26 12:57] zvirja opened #899 "Obsolete RandomRangedNumberCustomization"
The `RandomRangedNumberGenerator` is now used by default in v4, so the customization should be obsoleted. That should also help our clients to see that this customization is redundant now.

[2017-10-27 12:37] sergeyshushlyapin commented on #723
Oh, nice! Could it be that this part was missing when I reported the issue about one year ago? This exception message definitely looks good to me. thanks.

[2017-10-27 12:37] #723 closed

[2017-10-27 13:19] zvirja commented on #723
We haven't changed the code, so I don't know 😉 Well, there is a chance that some output window simply trimmed the exception message (e.g. NCrunch exception preview).

[2017-10-27 15:03] Ephasme commented on #898
Thank you so much for this incredible answer! You're amazing :)

[2017-10-27 15:03] #898 closed

[2017-10-28 00:47] moodmosaic commented on #896
I pretty much share @ploeh's [IsNullOrWhiteSpace trap](http://blog.ploeh.dk/2014/11/18/the-isnullorwhitespace-trap/) thoughts, and it'd be very skeptical adding this.

(Scroll down in that article where it says *Problems with IsNullOrWhiteSpace*.)

[2017-10-30 08:10] DixonDs commented on #896
@moodmosaic Well, the article discusses incorrect usages of `IsNullOrWhiteSpace` which is fine. But it doesn't mean there are no correct usages of `IsNullOrWhiteSpace` as a guard clause (even though I use it rarely myself). And then we still have `IsNullOrEmpty` used much more often in practice as a guard clause than `IsNullOrWhiteSpace`, do you think we can add `EmptyStringBehaviorExpectation` at

[2017-10-30 09:13] #899 closed

[2017-10-30 09:51] #897 closed

[2017-11-02 10:08] zvirja opened #914 "Rename "Jump in" tag to "good first issue""
Currently we have the `jump in` tag for the good-to-start issues. Recently GitHub team introduced the `good first issue` label for such issues and documented it everywhere:
- https://help.github.com/articles/about-labels/#using-default-labels
- https://help.github.com/articles/finding-open-source-projects-on-github/#searching-using-labels

Therefore, I suggest to rename the tag and set it to a def

[2017-11-02 15:55] moodmosaic commented on #914
👍 Sounds good

[2017-11-03 10:30] zvirja commented on #914
Done.

[2017-11-03 10:32] zvirja commented on #484
Closing this one as no actions are required here.

Later we might consider changing the core, so that predefined builders are not placed to the `Customizations` collection, but is the whole new story.

[2017-11-03 10:32] #484 closed

[2017-11-03 10:43] zvirja commented on #766
With a new API it's now possible to add a `GreedyMock` attribute to the `AutoMoq` project. It should inherit the [`IParameterCustomizationSource`](https://github.com/AutoFixture/AutoFixture/blob/2cea20a6d2f1c0768ebb4ee3a5ac934637cc7b1f/Src/AutoFixture/IParameterCustomizationSource.cs#L11) interface and customize the particular request.

Changing the label to a potentially new feature.

[2017-11-03 13:47] zvirja opened #915 "Private field naming convention"
In this issue I'd like to align the private field name convention in our project.

I've found that in one places we prefix private fields with underscore, while in other we don't. That is a pretty confusing and we should align the single styling for this project.

Usually, I prefer to start private fields with the underscore character:
[code]

However I would be fine if we agree to live without th

[2017-11-03 16:29] moodmosaic commented on #915
That's the current style which we should probably keep and make consistent everywhere:

[code]

I know that all ReSharper users don't like it. Do you, @zvirja?

[2017-11-03 16:43] zvirja commented on #915
Well, I indeed like underscores 😊 However, I'm perfectly fine to not put them - I'm already following this convention at a few projects where code styles are out of my control. As long as `this` keyword is used, that doesn't lead to any confusion.

The only wish I have is to configure the R# appropriately, so it doesn't highlight each field in our solution 😄

@moodmosaic That means you vote to pro

[2017-11-03 16:45] DixonDs commented on #915
@zvirja

Probably, in this case, it makes sense to include the shared R# settings file into the repository in order to make it easier to new contributors using R#

[2017-11-03 16:47] zvirja commented on #915
Yep, [we already have them](https://github.com/AutoFixture/AutoFixture/blob/master/Src/All.sln.DotSettings). However, you should open the `All.sln` solution to pick them up. I didn't want to duplicate this file 10 times for each solution we have 😕

[2017-11-03 16:57] moodmosaic commented on #915
Well, basically, yes, unless it bothers you _so much_ that makes you totally unproductive; in this case, feel free to change it everywhere. 😃

---

`this` is much more powerful than `_` technically speaking. I think, `_` is a remnant from the old days, where we used to prefix instance fields with `_` or `m_`, static fields with `s_` and constant fields with `c_`.

(In C/C++, things can be more sca

[2017-11-03 17:07] zvirja commented on #915
Well, in that case agreed to live without them 🎉

Yep. Just to feel my pain - on my primary work project we follow a convention _to not put_ neither `_` nor `this` keyword. Feel the confusion I see every day when it's totally unclear whether you access a field or a local variable; a Property or a Static Class with same name 😢 We even had bugs because of the latter.

Yep, likely. I'm currently [mai

[2017-11-05 06:25] moodmosaic commented on #915
Sounds like they're coming from VB? 😉

---

[2017-11-05 12:12] zvirja commented on #915
Well, I don't believe in that :) However, who knows.. :smirk:

[2017-11-07 12:25] #915 closed

[2017-11-07 18:47] desmondgc opened #918 "Change ModestConstructorQuery behavior to skip copy constructors"
I feel like an improvement similar to the one made in #644 should also be applied to ModestConstructorQuery - skip constructors that contain parameters of the requested type in order to avoid circular references.

[2017-11-07 21:15] zvirja commented on #918
Hi @desmondgc,

Thanks for registering the issue for us. In order to better understand the context of the issue, could please show a real world samples of the situation when such API is present?

While it's possible to skip those methods, we should make such decisions very carefully. Current AutoFixture's approach is to activate objects when everything is trivial. When there some complications wit

[2017-11-08 14:15] desmondgc commented on #918
We want to hide the default public constructor in many of our domain entities in order to force users to call a specific constructor which may include guards and other construction logic. Most of these entities include a copy constructor which also happens to be the "most modest" constructor. In unit tests, we generally want to use AutoFixture default behavior to call the most modest constructor (

[2017-11-08 14:37] zvirja commented on #918
Thanks for that sample! As far as I got it, your wish is to skip all the constructors that takes only single argument and it's of the current class type.

Meaning that we **are not going** to skip constructors that take more than one argument:
[code]

@desmondgc Do you agree on that?

If that is so, I'm basically fine with such a feature request. It looks logical to me and such constructors indeed

[2017-11-08 15:02] desmondgc commented on #918
@zvirja Yes, in my case all of our copy constructors take only a single argument of the current type.

I feel like this request is most important with respect to the ModestConstructorQuery since a single-parameter copy constructor will almost always be chosen by this strategy, but is much less likely for GreedyConstructorQuery. I see that the Array/Enumerable/List-favoring queries fall back to the

[2017-11-08 19:14] jcasale opened #919 "Add support for string based properties decorated with the RangeAttribute"
Consider the following:
[code]
In 3.51.0 the first call the Create() worked, however subsequent calls threw, now in 4.0.0-rc1 (the version I am using), the first call throws `ObjectCreationException`  whereas the attribute itself offers support for the use case.

[2017-11-08 19:21] ploeh commented on #919
Originated from https://stackoverflow.com/q/47184400/126014

[2017-11-08 19:44] zvirja commented on #919
@jcasale Thanks for raising the issue.

Well, as far as I noticed, AutoFixture wasn't designed to handle gracefully the `Range` attribute applied to non-numeric members. Therefore, I'm basically not surprised as we already have [the same issue](722) for enums. They should be fixed together and I've already started to investigate that.

I don't have too much experience with annotation attributes an

[2017-11-08 19:48] zvirja commented on #918
@desmondgc Thanks for the confirmation. Let's also see what @moodmosaic thinks about that and later decide what to do.

[2017-11-08 20:08] jcasale commented on #919
To be honest, it's a convention I am used to from the ASP arena and I don't know if it's an abuse of the facility or intended. I will check out the docs and if not, the reference source for logic that indicates it's valid and expected and not simply a fragile coincidence.

[2017-11-08 22:02] zvirja commented on #918
@adamchester Your vote will be also appreciated, given that you were involved into #644 😉

[2017-11-09 05:19] jcasale commented on #919
Reference [source ](https://github.com/Microsoft/referencesource/blob/b31308b03e8bd5bf779fb80fda71f31eb959fe0b/System.ComponentModel.DataAnnotations/DataAnnotations/RangeAttribute.cs#L92) implies it will handle casting a string (which it does) and the [docs](https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.rangeattribute(v=vs.110).aspx) illustrate an example where the

[2017-11-10 19:04] mbcrawfo opened #921 "Issues with AutoMoq and mocking a fluent request builder"
I'm testing an extension method that has the following call to the MS Graph API at its core.  I've noted on each line the type returned by that call.

    var groupPage = await service.Me // IUserRequestBuilder
        .GetMemberGroups(true)       // IDirectoryObjectGetMemberGroupsRequestBuilder
        .Request()                   // IDirectoryObjectGetMemberGroupsRequest
        .PostAsync()

[2017-11-11 05:08] moodmosaic commented on #918
@zvirja, @desmondgc, I'm not sure I follow; which constructor you'd want AF to call in your example?

If the current [constructor strategies](http://blog.ploeh.dk/2011/04/19/ConstructorstrategiesforAutoFixture/) aren't enough, you can always override them and even supply your own custom ones...

[2017-11-11 21:57] zvirja commented on #914
Fire a PR on this site:
https://github.com/up-for-grabs/up-for-grabs.net

[2017-11-12 10:19] Kralizek commented on #890
@zvirja any timeline for the RTM? (I know, I'm greedy)

[2017-11-12 11:00] zvirja commented on #890
@Kralizek Do you have any issues using RC? :wink:

[2017-11-12 12:07] Kralizek commented on #890
@zvirja not at all. But I want to update our internal packages to use the v4 and `dotnet pack` gives a nasty warning about using preview packages into non-preview ones :P

My internal package used to be a metapackage with
* NUnit
* AutoFixture
* Moq

But I will change it so that it also includes AutoMoq and AutoFixture.NUnit3 and a definition of `[AutoMoqInlineData]` attribute.

[2017-11-13 08:41] zvirja commented on #890
Now I see it, thanks. Well, I'm going to release RTM after we finish all the issues [in the scope](https://github.com/AutoFixture/AutoFixture/milestone/4). Probably, it will take a couple of weeks.

[2017-11-13 09:46] zvirja commented on #914
Done. Fired: https://github.com/up-for-grabs/up-for-grabs.net/pull/812

[2017-11-13 09:46] #914 closed

[2017-11-13 10:12] zvirja commented on #919
@jcasale Thanks for the confirmation. Well, it's indeed seems that string _could be_ a valid type. Also it looks like that `Range` attribute could support even other types, like `DateTime`. The question is whether we are going to support that in AutoFixture _out-of-the-box_ as we clearly cannot support all those types.

Probably, it makes sense to follow the way, when we support this feature parti

[2017-11-13 10:49] zvirja commented on #918
Given that you have the following type:

[code]

AutoFixture by default should pick the ` public Payment(string currencyInitials, decimal currencyAmount) { }` constructor instead of the `public Payment(Payment payment) { }` as it currently does. Otherwise, it leads to a recursion and fixture simply fails.

Yep, you can. However, the issue is about improvements for the AutoFixture constructor selec

[2017-11-13 10:55] zvirja commented on #921
Thanks for reporting the issue!

In order to simply the investigation, could you please provide me with with all the type definitions as well? It would be awesome to have a code snippet that could be copied to VS and run there without a need to define anything. I'm not familiar with MS Graph API and your domain too much, so it isn't that simple for me to understand the scenario easily 😅

[2017-11-13 16:02] mbcrawfo commented on #921
So interestingly both Moq and NUnit have been updated in the past week (to v4.7.145 and v3.9.0 respectively), and the behavior has changed.  Now there is no problem with creating the mocks, but the simpler version of the test gets a NRE when accessing the `CurrentPage` property, implying to me that maybe the frozen attribute isn't working as expected?

Here's a full repro.  The only thing you need

[2017-11-14 22:07] kmorcinek commented on #890
@zvirja just to ensure I understand correctly: I can safely update to 4.0 RC cause what is left are only couple bugs. And if this bugs don't influence me (they don't), nothing will be broken between RC and final version?

[2017-11-15 08:10] zvirja commented on #890
@kmorcinek Basically yes, that's why how I see that as well. The only minor breaking change is related to #905, but it's unlikely that you will observe it. Even if so, it's a trivial one to fix.

[2017-11-15 09:03] moodmosaic commented on #918
But you can [force AutoFixture to use the greediest constructors](https://stackoverflow.com/a/12425942).

[2017-11-15 09:07] zvirja commented on #918
Yep. There is a way to work around the issue and configure fixture in a way that it works. There is no issue with that.

The suggestion is to change the default behavior to make it robust as current strategy will _never_ create specimens - exactly what we did in #644.

[2017-11-15 21:52] Kralizek opened #924 "Support for IReadOnlyList and similar in v4"
For some reason I thought that IReadOnlyList<T> was going to be supported out-of-the-box in v4.

I understand that the relay shown in #730 couldn't be added because of the support for .NET Framework 4.5. But since we are moving into a .NET Standard, maybe we could consider to include it somehow?

I see two options:
* in the main assembly, via compiler if (after all, the .NET Framework version has

[2017-11-16 08:29] moodmosaic commented on #918
Sounds good 👍 Sorry that it took my so long to figure out what needs to be done 😮

[2017-11-16 08:59] moodmosaic commented on #919
The purpose of supporting data annotations in AutoFixture is to provide a more fine-grained control over the scope of generated values.

However, some of those data annotations have a totally weird API, where you can easily do the wrong thing, as with the [RangeAttribute](https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.rangeattribute.aspx), which has 3 constructor ov

[2017-11-16 13:05] jcasale commented on #919
[code]

That is incorrect, it works coincidentally for values where none of the place values exceed the leading place values of the max string. For example, `1` through `6` pass, however `7` through `9` fail, `10` through `65` pass, `66` to `99` fail, `100` through to `655` pass then `656` fails etc.

A contrived example:
[code]

[2017-11-16 13:58] tlycken opened #925 "Is it possible to create an instance based on a runtime `System.Type`?"
For making sure my AutoMapper mappings don't blow up, I have a test class similar to the following:

[code]

I just discovered that `_fixture.Create(inputType)` doesn't actually create an instance of the type (e.g. a `Foo` in the first test) but actually an instance of `System.Type`. This, of course, renders my test fairly useless.

I looked through the available methods (just browsing IntelliSens

[2017-11-16 17:35] zvirja commented on #925
It seems that I know what is going on 😄

If you try the [AutoFixture v4](https://www.nuget.org/packages/AutoFixture/4.0.0-rc1), you will find that this code doesn't compile. The reason is that we [extracted confusing `Create()` method overloads](https://github.com/AutoFixture/AutoFixture/wiki/v4.0-Release-Notes#%EF%B8%8F-extracted-seed-taking-overloads-to-the-autofixtureseedextensions-package) to

[2017-11-16 17:47] zvirja commented on #924
Actually, the `IReadOnlyList<>` [is supported](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ireadonlylist-1?view=netframework-4.5) by .NET 4.5 which we currently target in v4. Also this interface is available in .NET Standard version we target. Therefore, I believe that _technically_ nothing stops us from adding that support to the AutoFixture 😉

Given that we already sup

[2017-11-16 20:41] Kralizek commented on #924
Do you mind me trying to work on a PR?

[2017-11-16 21:47] mbcrawfo commented on #921
I've noticed this in a couple of other places today.  Here's a generalized example that has nothing to do with the Microsoft library.  It definitely looks like the frozen attribute isn't working correctly on some of these mocks - if you debug the test the `Mock<IBar>` passed as the parameter and the one retrieved in the method are different instances.

    using Moq;
    using NUnit.Framework;

[2017-11-17 07:26] tlycken commented on #925
Thanks!

By reading the source code of the generic `fixture.Create<T>()` object, figuring out where it eventually ends up, I also found out that this works:

[code]

I guess they are more or less equivalent :) Thanks a lot!

[2017-11-17 07:26] #925 closed

[2017-11-17 09:28] zvirja commented on #925
@tlycken Indeed, both snippets does the same, while your option looks much better :) Will use it in future if needed :blush:

[2017-11-17 10:28] zvirja commented on #924
I'd suggest you to postpone this a bit. I don't a like a current way how we introduce such and similar features and would like to enhance that a bit.

After that we could proceed with a new way.

[2017-11-17 10:30] zvirja commented on #918
Converted that to a feature 😉

[2017-11-17 10:38] zvirja commented on #919
@jcasale Thanks for the sample.

That's why I'd suggest to not include this feature to the AutoFixture for now as there might be a whole set of different options depending on the `OperandType`/`MemberType` combinations.

In the #920 I've introduced the generic `RangedRequest` in a way that later any specimen builder could decide what to do. Request offers both the `OperandType` (this is how the `R

[2017-11-17 11:05] Kralizek commented on #924
Sure!

[2017-11-17 11:05] zvirja commented on #921
Sorry for the belated reply - was a bit busy.

I've reviewed your samples and at the first glance it looks like the issue is that you use the wrong AutoMoq customization.

The `AutoFixture.AutoMoq` package (BTW NSubstitute integration as well) is shipped with `AutoMoqCustomization` and `AutoConfiguredMoqCustomization`. The first one which you currently use, simply creates mocks without configuring

[2017-11-17 14:51] jcasale commented on #919
@zvirja No objections, I have a workaround and realized some good takeaways from this. In reference to registering my own `RangedRequest`, off the top of your head do you know of any code exercising the concept that I could review to see how this is accomplished?

[2017-11-17 15:59] mbcrawfo commented on #921
Thanks!  I know I have read that wiki page and blog post before, but I guess the distinction wasn't clear to me and I must not have needed to the auto configured behavior until now.

I think what caused confusion for me is that `AutoMoqCustomization` *does* configure the mock, but it doesn't use the fixture for the configuration.  Here are a few tests that demonstrate the difference between the de

[2017-11-17 15:59] #921 closed

[2017-11-17 17:15] zvirja commented on #921
No worries, I'm glad that my advise helped 😉

That behavior depends purely on the Moq implementation detail, which could change from version to version (in theory). Given that it's out of our control, probably it's better to rephrase that in a more general way.

In any case, you have a write access to our wiki, so feel free to put that disclaimer somewhere 😃

[2017-11-17 17:19] zvirja commented on #919
Probably, not for now, as #920 is still under the review by @moodmosaic. Only after we merge the PR, we'll know its shape, so I'll be able to show you a demo.

However, the best place would be to look at the [NumericRangedRequestRelay](https://github.com/zvirja/AutoFixture/blob/58ae2f598dbe0c2aadffbc896f09f2a81be0b81c/Src/AutoFixture/NumericRangedRequestRelay.cs) implementation (if it doesn't chan

[2017-11-18 12:55] zvirja opened #927 "Suggestion: follow the "Arrange Act Assert" style for tests"
Currently our tests follow the clumsy [Four-Phase Test](http://xunitpatterns.com/Four%20Phase%20Test.html) style to describe the test body. I don't like that at all, as it looks like some old-school stuff which doesn't play nice with xUnit. My concerns:
- The `// Teardown` phase is always empty in xUnit tests as it creates a `sut` per test, without need to `restore` it.
- The `// Fixture setup`,

[2017-11-19 09:00] moodmosaic commented on #927
Go for it. But I'd prefer to have the first letter capital, that is
[code]
instead of
[code]
Do you have strong reasons to prefer the second case?

[2017-11-19 11:19] zvirja commented on #927
No, uppercase is fine to me - it's enough that we use AAA :blush:

[2017-11-19 17:27] moodmosaic commented on #927
You can also separate each phase with a blank line, which is the formatting I use nowadays. Then, the test-reader can assume it's *Given/When/Then*, or *Arrange/Act/Assert*, or even *(the four-phase one goes here)*.

You can read more about this in the section **"Simple tests with more than three lines of code"** [here](http://blog.ploeh.dk/2013/06/24/a-heuristic-for-formatting-code-according-to-t

[2017-11-19 17:39] zvirja commented on #927
I strongly dislike usage of empty lines instead of comments in OSS and disagree with that Marks idea. See my comment [here](https://github.com/AutoFixture/AutoFixture/pull/920#discussion_r151836008).

[2017-11-19 18:40] moodmosaic commented on #927
Comments on top of each test-phase are, basically, *comments*. And in this particular case, they are [apologies](http://butunclebob.com/ArticleS.TimOttinger.ApologizeIncode), because they explain *how* —[instead of *why*](https://ayende.com/blog/163297/the-importance-of-comments).

---

Now, back to AutoFixture, since all tests are decorated with comments, and since the [fixture teardown](http://x

[2017-11-19 21:28] zvirja commented on #927
Well, I also refer to this rule often, however in this particular case I prefer to keep those "apologizes" 😄 They make structure of the test more obvious and strict. Personally I find it more easier to read "labeled" tests, but probably that is simply a matter of habit 😉

[2017-11-20 03:37] moodmosaic commented on #927
This; and perhaps also a matter of who actually wrote the test.

[2017-11-20 12:56] nphmuller opened #929 "Applying customizations from base class or interface fails in 4.0.0-rc1 (regression)"
The following tests succeed in AutoFixture `3.51.0` but fail in `4.0.0-rc1`:
(even in the latest commit in master: `c856cd6`)

[code]

[2017-11-20 17:23] wertzui opened #930 "Support TimeSpan type for the Range attribute"
I have the following Property

        [Range(typeof(TimeSpan), "00:00:00", "10675199.02:48:05.4775807")]
        public TimeSpan Length { get; set; }

This causes Autofixture to fail because internally it uses `Convert.ToType("00:00:00", typeof(TimeSpan))` to get the actual value.

I expect this to work also with DateTime and DateTimeOffset.

[2017-11-21 13:43] zvirja commented on #929
Thanks for raising the question. Well, this is the desired change and it has been applied on purpose.

Previously we had an issue when customization of one sub-type could affect other sub-type. For instance:

[code]

In the v3 this test failed, causing a lot of confusion to people. As you might imagine, the scenarios were more complicated and it was very non-obvious why the particular members are

[2017-11-21 15:21] nphmuller commented on #929
Ok, good to know it was intentional. I definitely agree that it was confusing, but if it can be applied explicitly it's a nice feature. Will try your snippet (and will probably make the extension method).

By the way: Is this something you want to add to the breaking changes list? Might prevent the same question being asked over.

[2017-11-21 15:30] nphmuller commented on #929
There is no way to opt-in to the old behaviour for either one customization of all customizations, right?

[2017-11-22 22:37] zvirja commented on #929
Well, it's mentioned in the [bug fixes](https://github.com/AutoFixture/AutoFixture/wiki/v4.0-Release-Notes#bug-fixes-) section. This is in fact not a breaking change, as the previous behavior was never stated as a "feature". Rather, that was an undesired side-effect and it has been finally eliminated 😉

No, there is no such a way I believe as I totally reworked the approach.

Please test the snipp

[2017-11-22 22:56] nphmuller commented on #929
I’ve tweaked it so it also works for interfaces and made an extension method so it can be used in ‘Fixture.Customize<T>(...)’. Feels a bit more hacky than I’d like to, especially since the way it worked in v3 was perfect for us. But since our only use-case is omitting properties and it (most importantly ;)) works it’ll do. Thanks!

[2017-11-22 22:56] #929 closed

[2017-11-22 23:02] zvirja commented on #930
Currently AutoFixture doesn't support ranges other than numeric. But we have the similar feature requests around:
- [support enums](722)
- [support strings](919)

Probably, it makes sense to review the whole approach we currently have. It appeared that `DataAnnotations` support takes a significant part of the AutoFixture and it will start to take even more if we start to support more `Range` types

[2017-11-22 23:09] zvirja commented on #929
@nphmuller Sorry that I've broken your neat and tidy code and now you need to survive 😄 But I believe that your sacrifice was made for the good of all of us, so you will not blame us too much 😅

[2017-11-22 23:11] nphmuller commented on #929
No blame at all. Inderstand your reasoning perfectly and even agree. Just sucks for me 😉

[2017-11-22 23:15] zvirja commented on #929
Just out of curiosity - what is your real use case for that? Because I never met a need in such kind of functionality.. Usually, when I write a test, I need to customize only specific type, rather than configure base or interface type. Are writing some kind of global customization?

[2017-11-22 23:38] nphmuller commented on #929
In this case we use AutoFixture as a test data generator for Entity Framework integration tests.

We have a couple of base types or interfaces that our entities use that contain common properties. Id, tenant-id (and navigation property), stuff like that.

For example, one of these properties is which user created the object. This property is not that interesting for most tests, and if it was gener

[2017-11-23 10:40] moodmosaic commented on #930
I don't understand, what's the difference of having this separately? It'll have the same priority as the AutoFixture package, isn't it?

[2017-11-23 13:09] Loppor commented on #918
I opened a pull request for this issue 😄

[2017-11-23 13:30] zvirja commented on #930
I'm not sure what exactly you mean by the "priority", but yep, that would be first-class citizen in our solution, like any other project.

Currently I see the following benefits:
- It makes the organization simpler, as you can manage annotation based entities easily and clearly see the boundaries. Currently they are all spread around in the `AutoFixture` project.
- [Continuation] I predict that we

[2017-11-23 14:58] Loppor commented on #341
If I understand this issue correctly: We need to create an extra generator to handle the population of a generic list, right? Just to get some general sense of direction of where to search 😉

[2017-11-23 22:12] zvirja commented on #930
Ok, probably we should disregard that stuff. I've just tried to perform the extraction and found that actually we'll move only 5 classes instead of 20+. Due to some reasons that Xeger could be extracted as well, however that appeared to not be possible. Obviously, it's a super overkill to have a project for 5-10 classes. So let's keep that as is 😉

Sorry for the time you spent on this.

[2017-11-23 22:37] zvirja opened #938 "Use Fare package for regular expression generation"
@moodmosaic I've noticed that you have extracted Xeger to a separate NuGet package: https://github.com/moodmosaic/Fare.

In AutoFixture we have a copy of that project. Does it make sense to actually depend on your package rather than have a copy-paste inside our code?

However, in order to achieve that we need you to add .NET Standard support and probably sign the assembly, as it we are signed. I

[2017-11-24 10:10] moodmosaic commented on #930
No worries. It's always a pleasure to discuss upfront a potential massive set of changes 😃

[2017-11-24 10:22] moodmosaic commented on #938
[Fare](https://github.com/moodmosaic/Fare) should be the same to what we have inside AutoFixture, plus some minor changes here and there based on feedback I got from its users.

If you wish, you can take a dependency on it, and delete the appropriate files from AutoFixture. Once you do that, **AutoFixture will depend on Fare**, instead of having no other dependencies.

I don't think we should worr

[2017-11-24 11:43] zvirja commented on #930
Marking this as a potentially new feature.

[2017-11-24 12:00] zvirja commented on #938
Well, that is not the case - we already have dependencies for the .NET Standard framework. [See v4](https://www.nuget.org/packages/AutoFixture/4.0.0-rc1).

Today AutoFixture is distributed as a NuGet package, so it doesn't provide us with any benefits to not have external dependencies. That's why I don't think we should worry about that and it's not a goal to not depend on anything.

Got it 😉 I'm

[2017-11-24 12:01] zvirja commented on #924
Done. Fire a PR if you wish now 😉

[2017-11-24 12:03] zvirja commented on #929
@nphmuller Thanks for clarification, now it's clear 😉 Yep, it looks the scenario makes sense, but I must admit it looks like something you need pretty rarely.

[2017-11-24 13:19] Kralizek commented on #924
@zvirja I will work on it during the weekend!

[2017-11-26 20:52] moodmosaic commented on #938
Yes, the .NET Standard version depends on `NETStandard.Library` and `System.ComponentModel.Annotations`. That's fine, as these packages are part of the .NET itself, and they were inside the BCL previously.

However, I'd strongly suggest to *avoid* taking on dependencies on other packages, (say, `Foo`) as we don't have control on what their authors are doing.

Now, `Fare` can be an exception, as it

[2017-11-27 14:03] tlycken opened #942 "How do I customize creation of a collection (and its nested properties)?"
I have a need for customizing creation of a collection, with quite complicated relationships between the objects within it, and I can't figure out how to do it correctly.

For the sake of this issue, let's assume I'm working on a todo app. It has `Items` and `SubItems`, and the items have a week number indicating when they should be done:

    public class Item {
        public string Name { get;

[2017-11-27 14:06] tlycken commented on #942
Realized StackOverflow might be a better forum for this, so cross-posted there: https://stackoverflow.com/questions/47512841/specimenbuilder-for-a-collection

[2017-11-28 08:24] tlycken commented on #942
For reference, there is now an MCVE here: https://github.com/tlycken/MCVE_AutoFixtureCollectionSpecimenBuilder

[2017-11-29 18:43] zvirja commented on #942
Closing this one as @ploeh has already helped you on SO. Thanks Mark 😉

[2017-11-29 18:43] #942 closed

[2017-11-29 21:36] zvirja commented on #938
Got your point. Well, totally makes sense. I believe that's always the rule that you should depend on third-party products only if that provides large benefit. Otherwise, dept of support might make that non-profitable. I felt that already for our glue libraries, where we should follow up each their release to ensure we support it.

[2017-11-30 06:15] moodmosaic opened #944 "Graph composition inside Fixture.cs"
Perhaps that would allow us to get rid of this pesky comment:

https://github.com/AutoFixture/AutoFixture/blob/d576fdc25ed88a35f874f9ef128b678c72752991/Src/AutoFixture/Fixture.cs#L128

[2017-11-30 06:18] moodmosaic commented on #938
I don't really mind what we do outside the core AutoFixture package (e.g. in the Glue Libraries). But for the core package, I'd really like to depend on as less stuff as possible, preferably 0 packages other than those maintained by us (and Microsoft, for .NET Standard).

[2017-11-30 10:09] Loppor commented on #341
@zvirja Could you perhaps shed some light on this situation as well?

[2017-11-30 18:47] #918 closed

[2017-11-30 19:21] zvirja commented on #944
@moodmosaic Is your concern related to the data annotations, or to the whole approach we have for the pre-registered builders? Originally I thought that it's about annotations, but just spotted the header and became non-sure.. 😟

[2017-12-01 10:35] moodmosaic commented on #944
It should be possible, or at least _ought_ to be possible to somehow 'pack' builders together into reusable blocks. So this way we should have a 'pack' of builders related to data annotations.

I don't know, or I don't remember, if this is possible in AutoFixture.

[2017-12-05 10:23] #924 closed

[2017-12-05 16:25] zvirja opened #946 "Rename xUnit related projects (and directory) to match NuGet package name"
Currently xUnit related projects are named as following:

- AutoFixture.xUnit.net
- AutoFixture.xUnit.net.UnitTest
- AutoFixture.xUnit.net2
- AutoFixture.xUnit.net2.UnitTest

This `.net` suffix in project name is very confusing, given that actual NuGet package name are:

- AutoFixture.xUnit
- AutoFixture.xUnit2

To make it less confusing, I wish to rename projects (and project folder) to match the

[2017-12-06 09:28] moodmosaic commented on #946
But the name is actually *xUnit.net* so it's like the NuGet Package names are the candidates for renaming.

*xUnit* is a broad term, used in [the bible](http://xunitpatterns.com/).

[2017-12-07 17:14] zvirja commented on #946
Well, yes, the official name of the product is indeed "xUnit.net". However, the shorter "xUnit" name is also used very broadly:
- NuGet: [xunit](https://www.nuget.org/packages/xunit)
- Twitter: [xunit](https://twitter.com/xunit)
- GitHub: [xunit](https://github.com/xunit/xunit)

The top 3 results for xUnit in Google are for xUnit.net:
![image](https://user-images.githubusercontent.com/1074182/3372

[2017-12-07 21:05] moodmosaic commented on #946
I don't know... I wouldn't really bother changing those... However―if you really feel so―go ahead, rename them 😃 After all, we'll be more consistent this way (after the renaming).

[2017-12-08 16:55] #946 closed

[2017-12-10 05:42] micheleissa commented on #927
Hello, I'd like to tackle this. I'm a big fan of Autofixture and use it in my work all the time and it would be a good way of giving back.
So basically you guys want to change the following in all the test files:
<code>// Fixture setup</code> to <code>// Arrange</code>
<code>// Exercise System</code> to <code>// Act</code>
<code>// Verify Outcome</code> to <code>// Assert</code>
and finally <code>

[2017-12-10 07:03] moodmosaic commented on #927
Yes, but keep in mind that doing a 'find and replace' might not work as some phases are joined together in some tests. That is, you might come across *Exercise system & verify outcome* and similar, IIRC.

[2017-12-10 15:03] micheleissa commented on #927
@moodmosaic I understand, I'm planning to do file by file not a full 'find and replace' but I might still use it in the more obvious/simpler cases.

Thank you,
Eissa

[2017-12-10 21:55] #722 closed

[2017-12-11 10:20] zvirja commented on #919
@jcasale Feel free to use the [NumericRangedRequestRelay](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture/DataAnnotations/NumericRangedRequestRelay.cs) or [EnumRangedRequestRelay](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture/DataAnnotations/EnumRangedRequestRelay.cs) as a sample of such customization.

This API will be available since our next relea

[2017-12-11 10:20] #919 closed

[2017-12-11 20:48] amir734jj opened #951 "Randomly choose from pre-defined list"
I am wondering in C# AutoFixure, is there a way to randomly choose from the pre-defined list? for example, so when I use `fixture.Create` or `fixture.CreateMany`, it randomly selects an object from the pre-defined list. I did not find anything similar from documentation and searching stackoverflow so I am not sure it is even possible.

[Documentation link][1]

  [1]: https://github.com/AutoFixture

[2017-12-12 08:41] zvirja commented on #951
Closed via https://stackoverflow.com/questions/47761145/autofixure-randomly-choose-from-predefined-list

[2017-12-12 08:41] #951 closed

[2017-12-12 19:29] micheleissa commented on #927
@moodmosaic for <code>// Exercise system and verify outcome</code> it should it be replaced with
<code>// Act and Assert</code>
Or you guys thinking of something different?

[2017-12-12 22:04] zvirja commented on #927
Usually I use `// Act & Assert` as it looks more concise and cool 😎 Unless @moodmosaic has concerns, I'd prefer to follow that style 😉

[2017-12-13 10:50] moodmosaic commented on #927
Either way is OK :neckbeard:

[2017-12-14 22:29] micheleissa commented on #927
So I'm trying to start on this and after I load the All.sln in VS 2017 two F# projects
( AutoFoq,AutoFoqUnitTest ) are failing to open. I have zeor experience with F# so any help would be appreciated
![screenshot_121417_042805_pm](https://user-images.githubusercontent.com/16201881/34017540-c428639a-e0eb-11e7-9a8f-c9619e1099b1.jpg)

[2017-12-15 09:10] zvirja commented on #927
@micheleissa Ensure that you use latest version of VS (15.5.1 or later), otherwise project will not open (MS applied changes to their F# SDK). Also ensure to run `git clean -fdx .` being in root with closed VS. That is to cleanup the temporary files in case you checked out the project earlier.

Both those steps should help. Let me know if they didn't 😉

[2017-12-15 13:33] #880 closed

[2017-12-15 15:58] zvirja opened #955 "v4 RTM Release"
Here is the list of actions required to prepare for the v4 release.

Preparations:
- [x] Close all the PRs for `master` and freeze changes to the `master` branch till the release.
- [x] Close all the issues and PRs in the [v4 milestone](https://github.com/AutoFixture/AutoFixture/milestone/4).
- [x] Collect all the important v4 changes since v4 RC1.
- [x] Update the breaking changes document on Wik

[2017-12-15 17:18] micheleissa commented on #927
![screenshot_121517_111531_am](https://user-images.githubusercontent.com/16201881/34052749-49b2215c-e189-11e7-90d4-4c9a528ec31e.jpg)
@zvirja I have upgraded to latest version of VS 2017 15.5.2 and still facing the same issue 😞

[2017-12-15 17:40] zvirja commented on #927
Have you tried the second part?
- Close VS
- Go to root and run `git clean -fdx .`
- Open VS again?

It seems that you simply have leftovers from the previous installation.

Also ensure that F# tooling is installed on your machine:
![image](https://user-images.githubusercontent.com/1074182/34053533-d6570686-e1cf-11e7-96a8-3e1dd550a64f.png)

[2017-12-15 17:44] micheleissa commented on #927
Yea, I forgot the second one sorry :)
I'll try it now

[2017-12-16 05:52] micheleissa commented on #927
One more question, how do I associate the branch i'm working on in my forked repo to this ticket?

[2017-12-16 16:45] zvirja commented on #927
Great that it worked! 👍

I'd suggest to look at this article, the workflow is well described there: https://github.com/sevntu-checkstyle/sevntu.checkstyle/wiki/Development-workflow-with-Git:-Fork,-Branching,-Commits,-and-Pull-Request

Basically, you don't need to associate a branch with this issue. Rather, you create a Pull Request and simply mention this issue in the body.

[2017-12-16 18:02] micheleissa commented on #927
Ok, got it. Thank you! I'm gonna create the pull request while I'm working on the issue so you guys can monitor the progress and give feedback according to what mentioned in the contributing guidelines.

[2017-12-25 22:45] #927 closed

[2018-01-03 11:52] emanuelmarques commented on #955
Hello @zvirja
Is there an estimated date for the v4 to be available in nuget?

[2018-01-03 21:44] zvirja commented on #955
Hi @emanuelmarques I expect to release it somewhere during the upcoming weeks. Are you waiting for some particular feature? We already have RC released with all the major changes applied, so it should cover most of your needs..

[2018-01-03 21:56] #944 closed

[2018-01-03 22:57] zvirja opened #959 "Fix typo in exception message"
https://github.com/AutoFixture/AutoFixture/blob/6fde40a7570a30b8386c4d7461dba53ddcdf0825/Src/AutoFixture/DataAnnotations/RangedRequest.cs#L177

Change from "rather" to "either".

[2018-01-04 09:28] emanuelmarques commented on #955
Some company policies dictate to avoid the use of pre-release packages. However, I already tested it for my needs and it is working :)

[2018-01-08 11:44] thiagomajesk opened #960 "Approach to generate Random specimen based on Customization"
Hi, I want to be able to generate distinct values based on a `ICustomization` using `ISpecimenBuilder.CreateMany`. I was wondering what would be the best solution since AutoFixture will generate the same values for all entities.

[code]

PS.: The main goal is to reduce the amount of code on my tests, so I must avoid calling `With()` to customize the values for every test. Is there a proper way of

[2018-01-08 12:38] ploeh commented on #960
This seems like a good candidate for a [Stack Overflow](https://stackoverflow.com/questions/tagged/autofixture) question. There's nothing wrong with asking a question here, but I think this question is of the sort where an answer might benefit other people as well, and it's easier to find questions and answers on Stack Overflow compared to GitHub issues. For one, Google does a good job of indexing

[2018-01-08 12:54] thiagomajesk commented on #960
@ploeh What are the odds of someone from Stack Overflow giving a better answer than the lead developer of the project? I mean, I agree that it could help others on SO, but my perceptions is that the first place someone will look when having this kinda of problem is the project documentation (Wiki and Issues).

PS.: Couldn't you provide an answer to this or at least lead me in the right direction?

[2018-01-08 13:06] thiagomajesk commented on #960
@ploeh I agree.... I've just created an SO question based on this Issue. [This is the link](https://stackoverflow.com/questions/48150899/approach-to-generate-random-specimen-based-on-customization) for future references 👍

[2018-01-08 17:51] zvirja commented on #960
@ploeh Thanks for answering the question on SO :blush:

@thiagomajesk Actually there are no issues with answering the questions here. The reason why Mark suggested SO is the search capabilities it offers. Also currently Mark is monitoring SO, so if you post a question there, there are more chances to get his expertise (like you got this time) :sweat_smile:

[2018-01-08 17:51] zvirja commented on #960
@ploeh Thanks for answering the question on SO :blush:

@thiagomajesk Actually there are no issues with answering the questions here. The reason why Mark suggested SO is the search capabilities it offers. Also currently Mark is monitoring SO, so if you post a question there, there are more chances to get his expertise (like you got this time) :sweat_smile:

[2018-01-08 17:51] zvirja commented on #960
@ploeh Thanks for answering the question on SO :blush:

@thiagomajesk Actually there are no issues with answering the questions here. The reason why Mark suggested SO is the search capabilities it offers. Also currently Mark is monitoring SO, so if you post a question there, there are more chances to get his expertise (like you got this time) :sweat_smile:

[2018-01-08 17:51] zvirja commented on #960
@ploeh Thanks for answering the question on SO :blush:

@thiagomajesk Actually there are no issues with answering the questions here. The reason why Mark suggested SO is the search capabilities it offers. Also currently Mark is monitoring SO, so if you post a question there, there are more chances to get his expertise (like you got this time) :sweat_smile:

[2018-01-08 17:52] zvirja commented on #960
@ploeh Thanks for answering the question on SO :blush:

@thiagomajesk Actually there are no issues with answering the questions here. The reason why Mark suggested SO is the search capabilities it offers. Also currently Mark is monitoring SO, so if you post a question there, there are more chances to get his expertise (like you got this time) :sweat_smile:

[2018-01-08 20:31] thiagomajesk commented on #960
@zvirja Thanks for clarifying that 😄

[2018-01-09 20:34] #959 closed

[2018-01-09 20:39] zvirja commented on #955
@moodmosaic All the preparations has been finished and I'm ready for the v4 RTM release (finally 😄).  I believe that I applied all the breaking changes I wanted. All the breaking changes we might need in future will go to v5.

I'm going to proceed with the release tomorrow - let me know if you have any concerns 😉

[2018-01-09 20:53] moodmosaic commented on #955
Go ahead 👍 🚀 🥇 💯

[2018-01-10 17:55] thiagomajesk opened #962 "Create method of Custom ISpecimenBuilder is not called when ISpecimenBuilder.CreateMany(int count) overload is used"
Hi, this is related to: https://github.com/AutoFixture/AutoFixture/issues/960.

I've implemented a custom `ISpecimenBuilder` to generate distinct GUIDs with a given lenght:

[code]
In my tests:

[code]
Is this by design? Is there a workaround?

[2018-01-10 19:15] zvirja commented on #955
v4 RTM is finally there. This is the first stable major release since the ownership has been passed. It's great that we can make this project alive! 🎉

Thanks to everybody who contributed to the project since v4 RC1 (@Kralizek, @Loppor, @micheleissa, @rexcfnghk and others) - you help our project be healthy and shine brighter! 🙏🤝

@moodmosaic The traditional "thanks" for your code reviews and the e

[2018-01-10 19:15] #955 closed

[2018-01-10 19:30] zvirja commented on #962
I don't know precisely logic of your builder (as you omitted it) so it's hard to judge about reasons. But I tried to speculate the implementation and my found that my sample works fine with the latest version of AutoFixture (v4).

[code]

Please review my sample and clarify the difference between it and your logic. Also try to use the AutoFixture v4 - it could happen that you face some issue that

[2018-01-10 19:46] emanuelmarques commented on #955
thank you so much @zvirja and everyone else who contributed :)

[2018-01-10 22:24] thiagomajesk commented on #962
@zvirja Thanks for the response, I have some questions though:

The problem has nothing to do with logic inside the `Create` method (Like I've described it is not even called) so is safe to assume this does not play a part in the solution (or even in the problem).
Another thing is that your "repro" is much simpler than mine since you're not using generics. (I was suspecting it could be something r

[2018-01-10 22:31] zvirja commented on #962
Generics usage should not change behavior somehow as far as I know the code, therefore my sample should look equivalent 😕

Well, v4 has been released [a few hours ago](https://twitter.com/AutoFixture/status/951163688186245120) so it could easily happened that you installed the v3 😄

---

I could advise you to start troubleshooting by complicating my sample till the issue starts to reproduce. Alter

[2018-01-10 22:44] zvirja commented on #955
@frblondin Given that AutoFixture v4 has been finally published, would you be fine to unlist the [AutoFixture.NUnit3.PatchedName](https://www.nuget.org/packages/AutoFixture.NUnit3.PatchedName/) package? It doesn't seem to be required anymore 😉

[2018-01-11 07:58] frblondin commented on #955
@zvirja I unlisted all [AutoFixture.NUnit3.PatchedName](https://www.nuget.org/packages/AutoFixture.NUnit3.PatchedName/) package versions.

I think people can barely imagine the effort and time it represents to deliver such a great library! Congratulation and great job for v4 final.

[2018-01-11 12:56] zvirja commented on #955
@frblondin Thanks a lot for the graceful words! 🙏 It indeed takes huge amount of time and it's warm to read such kind of feedback ☺️

[2018-01-11 13:00] rexcfnghk commented on #955
Thank you for the effort to get it out of the door @zvirja !

[2018-01-11 19:49] thiagomajesk commented on #962
@zvirja Hi, thanks again for the quick response.
I found the problem and it has to do with customizations registration order...
I've read something about it in @ploeh's blog.

About that, I thought I had the last version because of the v4 Wiki page (I assumed it was the last version then) 😁.

So, what I was doing and what was the solution:

[code]

**FooCustomization:**

[code]

**UniqueShortGuidB

[2018-01-11 19:49] #962 closed

[2018-01-11 20:27] thiagomajesk commented on #960
@zvirja I'm going to close the question on SO based on @ploeh's great answer.
But I'd like to ask for a little bit more information about the implementation details of this one.
As I don't want to digress even further from the subject I think would be better to ask about this specifics in here. So I have this implementation:

[code]

I was expecting that when creating many objects with AutoFixture

[2018-01-11 22:30] zvirja commented on #962
Thanks for sharing your sample!

Indeed, the customization order does matter as we follow the chain-of-responsibility pattern. As soon as entry is matched, other builders are not even asked. However, it seems you don't need further explanation as you already got the idea 😅

P.S. I'd refactor the `FooCustomization` as following (to make it more concise):

[code]
or like following (if you don't need

[2018-01-11 22:51] zvirja commented on #960
Well, I've just tested your code and it worked exactly how desired:

[code]

Therefore, I'd like to again ask you to see how your actual code differs, so we could understand why that difference does matter 😟

[2018-01-11 23:56] thiagomajesk commented on #962
@zvirja Yep, thanks a lot... Your support was fundamental here 😉.

P.S: About the refactoring using `fixture.Freeze` or `fixture.Customize`. What did you mean by _"more concise"_? What changes exactly? (I'm asking because this project seems to rely more on SO and @ploeh's blog for documentation, so sometimes is hard to find exactly what you're looking for 😅).

[2018-01-12 00:13] thiagomajesk commented on #960
@zvirja That's weird. The code bellow is a minimal repro of the problem I'm having.
If I remove the `Fixture.Customize(new FooCustomization());` the test will pass, otherwise not.

[code]

[2018-01-12 07:54] ploeh commented on #960
Recommendation: If you rely on taking the first _n_ characters off a GUID string, don't name the class `UniqueShortGuidBuilder`. The values may be fairly unique when length is 5, but if you set it to 1, you'll likely see collisions. In any case, uniqueness isn't guaranteed.

If you only care about the length of the string, plus non-guaranteed uniqueness, why not simply ask AutoFixture for a number

[2018-01-12 12:25] zvirja commented on #962
There is no difference between the following two snippets:
[code]
and
[code]

Basically, both them do exactly the same - create a customized instance of the `Empresa` object and configure fixture to always return that object when instance of `Empresa` is requested. Notice, with such configuration fixture will always return the _same object_ without creation of new ones. That's why the method is ca

[2018-01-12 12:34] zvirja commented on #960
Well, in fact that is the expected behavior if you review the situation more carefully 😅 Please see [my reply](962#issuecomment-357225669) in #962. The provided implementation of the `FooCustomization` creates   instance of `Foo` type and configures fixture to always return that instance. Therefore, when later you create multiple instances of `Foo` type, each time the same object is returned and y

[2018-01-12 18:00] thiagomajesk commented on #960
@ploeh Thanks for the tip, but that code is just a gross example for test purposes. For real cases the lenght will not be ridiculously short to affect Guids uniqueness 😄.

I bet this is a nice solution for most cases, but I can't do that for this specific case because of alphanumeric validations in my system. Besides that, I have more complex validations involving that field.

@zvirja It is clear

[2018-01-12 18:00] #960 closed

[2018-01-13 20:07] Dev-I-Ant opened #966 "Building a customized instance fails on circular references"
[code]

Just updated AutoFixture from 3.50.6 to 4.0.0.

The above code works perfectly on 3.50.6, but only the first test (using fixture.Create) passes using 4.0.0 (.NET 4.6.2, NUnit3.7.1, FluentAssertions 4.19.4).

The test using fixture.Build fails, even if the injected customization specifies not to resolve the circular reference.

Did I miss something in the changelog or is it a bug ?

Thanks

[2018-01-13 21:02] zvirja commented on #966
@Dev-I-Ant Thanks for posting the issue here 👍

Well, this behavior is a result of the changes applied in #781. I've fixed the issue when one customization could affect other customizations. That happens even if you have two subsequent customizations for the same type - the previous one will be entirely ignored.

When you use the `Build<T>()` API, you are in fact creating a temporary customization

[2018-01-14 00:32] Dev-I-Ant commented on #966
@zvirja Thanks for your insights, this makes things clearer.

I already read a lot about the fact that stacking customizations on the same type is not possible (even if frustrating), and this change will certainly give me some trouble, but I understand why you had to change something.

My use case is testing an application using a large graph of objects which *many* circular references; the typica

[2018-01-15 08:15] ploeh commented on #960
Okay, fair enough, I may have a tendency to take things too literal 😄

[2018-01-15 12:25] zvirja commented on #966
If you rewrite your customization as following, all the tests will start to pass:

[code]

Therefore, yep, it should fix your issue 😉 Also this approach doesn't look too cumbersome, so should be acceptable.

Please let me know if you have further questions on your question.

[2018-01-15 19:30] Dev-I-Ant commented on #966
This works perfectly. Thanks a lot! I guess you can close this then :)

[2018-01-15 19:35] #966 closed

[2018-01-15 19:36] zvirja commented on #966
@Dev-I-Ant Awesome, thanks for the feedback! :)

[2018-01-17 18:01] robertbaker opened #968 "Unable to create Fixture with poco that has Range attribute"
This appears to be a regression bug?
[code]

[2018-01-17 18:03] zvirja commented on #968
Hi, thanks for the reporting! Could please share a sample, so I could reproduce it locally? It will simplify the troubleshooting :)

[2018-01-17 18:05] robertbaker commented on #968
[code]

[code]

[2018-01-17 18:13] robertbaker commented on #968
I'm looking for a quick workaround or fix to nuget or I'll have to rollback.

[2018-01-17 18:25] robertbaker commented on #968
It works in RC1 if that helps, so something recently broke it.

[2018-01-17 18:39] robertbaker commented on #968
This is what GetCustomoziedFixture does:

[code]

When I take out ` fixture.Customizations.Add(new RangeAttributeRelay());` it no longer crashes but it fails the test.

[2018-01-17 19:02] zvirja commented on #968
It's a bit hard for me to understand what is going on, as a huge number of your own code is involved and you haven't provided me with [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) that is usually attached in such cases 😕

The reason why it fails might be caused by the reworked approach to handle data annotations. See #920 and #957 for more detail. It might happen

[2018-01-17 20:13] robertbaker commented on #968
@zvirja I put together a sample project but the tests past. So it is an issue with the custom fixture.

I didn't write this, so bare with me.

We are calling NoDataAnnotationsCustomization. So it appears that the Range is missing a registration

[code]

[2018-01-17 20:22] robertbaker commented on #968
The fix was needing to add fixture.Customizations.Add(new NumericRangedRequestRelay());

[2018-01-17 20:22] #968 closed

[2018-01-17 21:36] zvirja commented on #968
Yep, that one is indeed missing from your list.

Notice, the `Customization` property implements the `ICollection<>` interface. Therefore, instead of removing and re-inserting the builders, you can use `fixture.Customization.Insert(0, xxx);` instead - it will push your customizations before the default ones.

I'd strongly recommend to follow the approach above as list of builders registered by def

[2018-01-19 16:20] hambroz opened #970 "Generic extension method over parameter constrained to an interface fails as nested expression"
Hi there,

First let me thank you for all the amazing work you do, AutoFixture is simply great!:)

Now to the problem. I will try to describe it as thorough as possible. Please ask more questions if needed.

I will start with the fact that the issue I will describe was not present in v3.50.2 and emerged in v4. As I use some customisations more often in the setup phase, I decided to create an exten

[2018-01-20 10:51] zvirja commented on #970
Thanks a lot for such a detailed description and the initial investigation you already did! You are absolutely right in your findings and the root cause of the issue was identified correctly. I don't think there should be some issues with the suggested fix, as the failing code is a pure sanity check.

The scenario you provided is absolutely valid, given that if validation is omitted, the rest part

[2018-01-20 19:28] #970 closed

[2018-01-23 22:34] micheleissa commented on #678
@zvirja Could you point me to the right direction on this one. I feel I can do it and will be a good start on the real stuff :)

[2018-01-23 22:55] zvirja commented on #678
@micheleissa I'd look at #711 and fix all the concerns we had there. The approach looked fine :wink:

[2018-01-25 14:10] micheleissa commented on #678
Gotcha.I'll look into #711

[2018-01-29 14:08] tlycken opened #973 "Did anything change with respect to generating booleans between 3.51 and 4.0?"
We're using AutoFixture quite extensively in our project (thank you for building an invaluable tool!) and recently a bunch of tests started failing. Most of them we've been able to some way or other trace back to AutoFixture generating a `bool` value, which if `true` will execute a code path that blows the test, while `false` will not (sometimes the failing path is executed only if all of a collec

[2018-01-29 14:47] zvirja commented on #973
As far as I know, nothing was changed in regards to the boolean value generation.

The current strategy is to provide the alternating values each time the `bool` value is requested (see implementation [here](https://github.com/AutoFixture/AutoFixture/blob/8bdf92592425aedacf587c127b1fcb70c10d108f/Src/AutoFixture/BooleanSwitch.cs#L35)). Given that switcher is global to the fixture, it's hard or even

[2018-01-29 15:28] tlycken commented on #973
Thanks for the write-up!

In our tests, we use a new fixture instance for each test, so if I understand you correctly new tests _shouldn't_ interfere with old ones, because they use different fixtures. However, I can reliably make at least some of the tests pass by hard-coding the boolean values to `false`, so there seems to be _something_ that has changed between now and a while ago; it appears t

[2018-01-29 15:28] #973 closed

[2018-01-31 12:26] 7Pass opened #974 "Customize<T> now uses exact type?"
I've just upgraded my code base to AutoFixture 4. Everything looks good except one that Customize<T> now uses exact type instead of also applying to inherited types. I'd suggest that we add this to the release notes.

Is there anyway to use Customize that also applies to inherited classes with version 4?
Great thanks to those continuing to support AutoFixture, it's a must have for my unit testing.

[2018-01-31 14:21] zvirja commented on #974
It seems that we need to create a separate section in the Release Notes for this change, as you are not the first one who asks about that (e.g. see #966) 😅

In fact fixture customization never fully supported the inheritance. Rather, we had a particularity of the implementation, so that `fixture.Customize<MyType>(c => c.Without(x => x.Prop))` seemed to work. That particularity leaded to the incons

[2018-01-31 16:25] 7Pass commented on #974
Thanks for the feedback. I did look at the `Fix one customization could affect other customizations` but did not fully understand. I'm in support of the change and that you spent the time to improve the project. I just think that 4.0 release notes may need a bit more information as you've shown.

By the way, I think I've encountered another bug, in which `IFixture.Build<T>()` loses some customizat

[2018-01-31 16:25] #974 closed

[2018-02-01 00:45] sam-piper opened #975 "Getting NSubstitute CouldNotSetReturnDueToTypeMismatchException after upgrading to 4.0.1"
I just upgraded to these packages in our xUnit .NET Core 2 Unit Test project:

* AutoFixture 4.0.1  (from 3.51)
* AutoFixture.AutoNSubstitute 4.0.1 (from 3.51)
* AutoFixture.Xunit2 4.0.1 (from 3.51)

And now there are 30+ tests all failing that look like this:

[code]

STEPS TO REPRODUCE:

1. Create a new xUnit .NET Core 2 project in Visual Studio 2017 (currently 15.5.2)
2. Add AutoFixture package

[2018-02-02 13:52] zvirja commented on #975
@sam-piper Thanks for reporting the issue and for providing me with the detailed scenario - that helped a lot! I was able to reproduce it locally and now I'm trying to figure out the best way to fix it - it's not that easy 😟

This bug has been introduced in v4 after I've reworked the integration approach. We didn't have such a scenario in our tests, so I haven't captured it earlier.

I'll update t

[2018-02-02 16:05] zvirja commented on #975
@sam-piper So far I wasn't able to find a good way to mitigate the issue. Therefore, as a workaround I'd suggest to modify your code as following:
[code]

That will prevent AutoFixture integration from activation and the returned value will be configured properly. While that is a workaround, it isn't that ugly as you use the [`Arg.Is()`](http://nsubstitute.github.io/help/argument-matchers/) extens

[2018-02-06 06:07] sam-piper commented on #975
Thanks for confirming - happy to use Arg.Is() as a workaround as it only affects a small portion of our codebase.

[2018-02-06 19:31] OnurGumus opened #976 "Upgrade FakeitEasy to Latest version."
Currently the nuget package of Autofixture.FakeitEasy uses  FakeItEasy, Version=1.7.4109.1, Culture=neutral, PublicKeyToken=eff28e2146d5fd2c

This version is very old. Also When I turn on Live Unit Testing with Visual Studio I am getting this error:
System.IO.FileLoadException: Could not load file or assembly 'FakeItEasy, Version=1.7.4109.1, Culture=neutral, PublicKeyToken=eff28e2146d5fd2c' or one

[2018-02-07 21:08] cocogorilla opened #977 "Eliminate return value on Customize"
Referencing stack thread: [https://stackoverflow.com/questions/48672741/customize-generic-vs-non-generic-return-types?noredirect=1#comment84344170_48672741](api confusion)

I've found myself confused by the API for Customize overloads, whether or not the fixture is being mutated, enough times I finally decided to ask.

Mark suggests, since the internals ARE mutating the fixture, that the return va

[2018-02-08 11:03] zvirja commented on #976
Could you please share the [Minimal Example](https://stackoverflow.com/help/mcve) of the solution, so I can try to reproduce it?

Basically, everything should work fine because of the assembly binding redirection. It seems that it isn't configured properly on your solution. Actually, AutoFixture project [has a test](https://github.com/AutoFixture/AutoFixture/blob/45832a734087556fa9934a62babd75918b

[2018-02-08 12:47] zvirja commented on #977
@cocogorilla Thanks for raising the issue here! Actually, a good point 👍

Currently we have 3 very related APIs today:
[code]

The API description is following:
- the first one was designed to suppose the Fluent API (so you could apply a few `ICustomization` instances in a row). It _mutates_ the fixture instance.
- the second one allows to apply customization for the specific type in a fluent matt

[2018-02-08 13:24] OnurGumus commented on #976
@zvirja I added the binding redirection. If you read the issue, this is related to "Live Unit Testing" which are different than regular tests. Basically Live unit tests, run in separate process at background and perhaps then that process somehow gets confused. I doubt your tests can cover such scenario without you actually trying. I have copied the source your helper to my project and compiled it

[2018-02-08 13:54] zvirja commented on #976
Could you confirm that you observe no issues, if you use other runners (e.g. `dotnet test`, VS runner, R# runner, console runner) for the project you observe issue with?

Yep, I know and I don't have that subscription, unfortunately.

Before, I want to ensure that issue is specific to the live testing and doesn't happen without it.

[2018-02-08 14:03] OnurGumus commented on #976
Yes I can say this issue is strictly about live unit testing. It works fine with vsrunner. On the other hand, I am curious about your motivation for sticking with a very old fakeiteasy version.

[2018-02-08 14:49] zvirja commented on #976
In this case you probably need to raise that issue to MS, as assembly binding redirection is a very common feature to live without it. As you might see, AutoFixture relies on the officially supported behavior and it's unlikely we can do something about this.

First of all pay attention that it __will not__ solve your issue in a long run term, as I mentioned [here](https://github.com/AutoFixture/Au

[2018-02-08 16:15] OnurGumus commented on #976
This may be an issue from Microsoft side, but basically what you are saying people who use live unit tests cannot use your library with live unit testing facility because you are preferring to keep few percent happy instead.
Also this will solve the issue for long time because FakeItEasy's assembly version most likely to stay same for the next couple of years at least. And even if it changes, perh

[2018-02-09 12:35] zvirja commented on #976
I do understand you confusion and I'm sorry that you cannot the library. However, it doesn't seem that FakeItEasy dependency update is the right strategy. We have a plenty of other glue libraries (Moq, NSubstitute, xunit1/2, NUnit2/3) and if we start to follow the same strategy for them, we'll quickly drop a substantial part of supported libraries. Fix for the issue on our side will create a mess

[2018-02-12 12:54] peheje opened #978 "Modifying Fixture.Behaviors"
Trying to fill an object with circular dependencies gives this nice error:

`AutoFixture.ObjectCreationExceptionWithPath: 'AutoFixture was unable to create an instance of type AutoFixture.Kernel.SeededRequest because the traversed object graph contains a circular reference. Information about the circular path follows below. This is the correct behavior when a Fixture is equipped with a ThrowingRec

[2018-02-12 15:46] zvirja commented on #978
@peheje Thanks for the report. Did I get it clear and your concern is purely about the exception message and not the real case you have?

If so, probably, we have the message like that because we know that it should not be read-only. We have a set of other fixture properties of `IList<>` type (like `Customizations`, `ResidueCollectors`) and if we start to assume in our samples that it could be rea

[2018-02-12 17:07] zvirja commented on #978
Just noticed that part. Well, in fact we are not using the `List` under the hood. We implement the `IList` interface manually, as types are not the real collections - [they are adapters](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture/SpecimenBuilderNodeAdapterCollection.cs). Therefore, it's unlikely that we can change the type of properties even if we decided that it's bett

[2018-02-12 17:53] peheje commented on #978
Thank you for the detailed response. Yes indeed my question was about the modifiable IList. I still think it's better to encourage checking for read only before trying to modify but granted I am probably nitpicking here.

But very cool took I like it a lot.

[2018-02-12 17:53] #978 closed

[2018-02-12 22:37] zvirja commented on #978
Well in this particular case it will be redundant as we have no plans to make it readonly. In any case, you shouldn't worry too much about it - if collection becomes read-only, your tests will fail with exception and you'll quickly find out what is going wrong 😉

[2018-02-13 15:55] moodmosaic commented on #977
[code]

can be changed to

[code]

and then, you can pass a [CompositeCustomization](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture/CompositeCustomization.cs) if you need to customize the `IFixture` instance using multiple customizations.

---

See also: https://stackoverflow.com/a/48673138

[2018-02-13 18:10] Kralizek opened #979 "Unable to create an instance of IReadOnlyDictionary<T1, T2>"
Hey! I have a class that has a property whose type is `IReadOnlyDictionary<string, SomeType>`. If I try to get this via `AutoDataAttribute` (NUnit3), I get an error (see below)

I thought that v4 had fixed this... Am I wrong?

On a sidenote, is there a way to apply a customization to the instance of Fixture used in the AutoData attribute? (I'm thinking of some default instance available via static

[2018-02-14 09:25] zvirja commented on #977
Yep, I know about `CompositeCustomization`, however it looks a bit clumsy and verbose to me:

[code]
vs
[code]

The first option looks more lightweight and simpler to me. Also it's more user friendly, as people might know nothing about `CompositeCustomization`.

As for the `CompositeCustomization`, I see its value when you would like to enclose a few customizations into a single package, so you de

[2018-02-14 09:28] zvirja commented on #979
@Kralizek Nope, the `IReadOnlyDictionary<TKey, TValue>` is not currently supported (see list of supported interfaces [here](https://github.com/AutoFixture/AutoFixture/blob/45832a734087556fa9934a62babd75918b468a6a/Src/AutoFixture/Fixture.cs#L139-L156)). Feel free to fire a PR and add this support if you need it.

[2018-02-14 09:44] Kralizek commented on #979
I'll take it since I worked on #941 before ;)

[2018-02-14 09:44] Kralizek commented on #979
@zvirja do you have any suggestion about

[2018-02-14 09:59] zvirja commented on #979
No, AutoFixture doesn't expose such API and expects that you will use your custom `AutoData` attribute with customized fixture instead.

[2018-02-14 10:06] Kralizek commented on #979
Uhm. Creating a new AutoData attribute per test fixture feels uselessly repetitive :(

[2018-02-14 10:10] zvirja commented on #979
I'm not sure I got your point.

Usually, it's expected that you have a single `CustomAutoData` attribute per test solution, where you apply all the required the global customizations. Therefore, you are not required to create an `AutoData` attribute per test.

[2018-02-14 11:51] Kralizek commented on #977
You can also create an extension method that accepts a set of customizations and internally just forwards a CompositeCustomization.

I usually use this approach when I want to keep the API of a certain service clean but still offer convenience methods for those who want.

Something as easy as
[code]

[2018-02-14 12:38] zvirja commented on #977
This includes a bit different story - we should move the [`Customize(ICustomization c)` method](https://github.com/AutoFixture/AutoFixture/blob/45832a734087556fa9934a62babd75918b468a6a/Src/AutoFixture/IFixture.cs#L103) out of the `IFixture` interface and make it an extension method. I don't see any reason why `Fixture` should implement this method, given that no internal stuff is required.

I do u

[2018-02-14 13:20] moodmosaic commented on #977
What @Kralizek proposes

    public static void Customize(this IFixture fixture, params ICustomization[] customizations)
    {
        fixture.Customize(new CompositeCustomization(customizations));
    }

may also be declared externally; AutoFixture doesn't have to support each and every usage scenario.

---

The idea is that AutoFixture provides a decent foundation of extensible blocks; it doesn'

[2018-02-14 13:50] zvirja opened #981 "Return really read-only collections for `IReadOnlyList<>` and `IReadOnlyCollection<>`"
Currently we return writable collections for the mentioned interfaces. Ensure that we construct read-only collections for those interfaces. It could help to catch tricky issues with user code.

@moodmosaic I believe that we don't need a next major for this change and can release it in the next feature/bug-fix release. Do you agree? :)

[2018-02-14 15:08] Kralizek commented on #977
It has to be said that I'd rather have a "author curated" set of extensions, say a "AutoFixture.Extensions" package, rather than having to reinvent the wheel myself.

I am already bothered by having to create myself a package to put together Moq and AutoData attributes from the NUnit3 glue assembly :)

[2018-02-14 15:21] Kralizek commented on #981
Preparing a fix for this (guilty feeling as I am the one introducing the bug)

I don't think it should be a major since the collection is returned by the requested interface. Which type is actually returned shouldn't matter. Unless someone reflected upon the returned type, but it would be quite an awkward use case.

[2018-02-15 05:05] moodmosaic commented on #981
This looks more like a bug, because we're asking for a read-only collection, but we're getting back one of a different type.

However, if the test(s) reflect that... then it's actually a change in the public API, and so we can consider doing releasing it as part of the next minor version.

[2018-02-15 05:07] moodmosaic commented on #977
No, that's too much of maintenance 😅 It'll either end up being in the core library or you do it on your own in your codebase(s). After all, you *do* need to define some ad-hoc customization(s) anyway...

[2018-02-15 09:08] #979 closed

[2018-02-15 09:59] zvirja commented on #976
@frblondin As far as I remember, you have VS Enterprise 😉 If so, could you please check this issue and assist with the workaround? It might be handy for other clients who face the same issue.

Let me know if you are busy or don't have VS Enterprise.

[2018-02-15 10:07] zvirja commented on #977
Agree, for this particular case it would be an overkill ☺️

Well, yes, I think that users will benefit from `params`, as API is more friendly out-of-the-box. From the architectural perspective, I believe it doesn't matter too much for us, whether we accept single customization or a list of them.

[2018-02-15 12:29] #981 closed

[2018-02-15 14:50] frblondin commented on #976
Unfortuntaly I'm not using VS Enterprise :-(
I'd suggest using auto binding redirections as documented [here](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection).

Also make sure that binding redirects are defined on the unit test assembly directly.

To me, if live unit testing doesn't manage correctly binding redirects it's cle

[2018-02-15 15:03] zvirja commented on #976
@frblondin Oops, sorry for confusing 😅 Thanks for the nice hints - I absolutely agree with you! 👍

@Kralizek Ok, it seems [you should have VS Enterprise](https://github.com/AutoFixture/AutoFixture/pull/865#issuecomment-337370202). Could you please review this issue whether you can test and advise something?

Thanks guys 😉

[2018-02-15 15:27] Kralizek commented on #976
@zvirja do you have a test project I can check out and test? I don't use FakeItEasy and it would take some time for me to get a workable test :)

[2018-02-15 15:30] zvirja commented on #976
Well, I also don't use it, however probably we can  use it like NSubstitute or Moq:
1. Install AutoFixture + latest FakeItEasy + AutoFakeItEasy.
2. Customize fixture using [`AutoFakeItEasyCustomization`](https://github.com/AutoFixture/AutoFixture/blob/9121cedad8b8eddc8993552ba87a06fbc92f97be/Src/AutoFakeItEasy/AutoFakeItEasyCustomization.cs#L9).
3. Request a custom interface from AutoFixture (use

[2018-02-15 15:44] Kralizek commented on #976
I'll try it from home :)

[2018-02-16 05:22] OnurGumus opened #984 "Treat delegates as Fakes with FakeItEasy"
As far as I know, AutoFixture automatically treats interfaces and abstract types as mockables. I think it is a good idea to include the delegate types in this list as well.

[2018-02-16 11:01] zvirja commented on #984
First of all, could you please clarify which mocking framework you work with? We have a few integrations (Moq, NSubsitute, FakeItEasy), so it's unclear. As far as I know, delegates are already supported by Moq integration (at least that is mentioned so in #742).

Also as far as I know AutoFixture has it's own delegates generation mechanism. Do you have any issues with it?

[2018-02-16 14:57] OnurGumus commented on #984
@zvirja  I use FakeItEasy. So I am changing the title of the issue
The following code returns a Fake after the customization applied:
` var myFake= fixture.Create<ISomeInterface>();`

However the following doesn't:
` var myFake= fixture.Create<Func<int,int>>();`

Further more the following crashes with an error:

` var myFake= fixture.Create<Fake<Func<int,int>>>();`

[2018-02-19 09:11] zvirja commented on #976
@Kralizek Any chance to review this? 😊

[2018-02-19 09:33] zvirja commented on #984
@OnurGumus I've briefly investigated this issue and it doesn't seem that `FakeItEasy` supports delegate mocking. Delegates [are not mentioned](http://fakeiteasy.readthedocs.io/en/stable/what-can-be-faked/) in their documentation.

Also I've tested the following code and it failed with an exception (which proves that feature is not supported):
[code]

Therefore, it doesn't seem that AutoFixture can

[2018-02-19 11:53] Kralizek commented on #976
Here is a gist https://gist.github.com/Kralizek/1434867d7ca4018c7c5a92e4951b22a8

![image](https://user-images.githubusercontent.com/2458439/36376583-e5d0fd42-1573-11e8-86ed-26bd273df68a.png)

[2018-02-19 12:14] zvirja commented on #976
@Kralizek Thanks a lot! Yep, the scenario is completely right. I suppose that the highlighted green marks are for the live testing 😄

@OnurGumus Could you please follow up on this and clarify how your scenario differs from the tested one?

[2018-02-19 18:07] OnurGumus commented on #984
@zvirja , Fake it easy certainly supports Fakes for delegates:
![image](https://user-images.githubusercontent.com/4114592/36391729-35146ca2-15c1-11e8-9af8-347f2d44e153.png)

[2018-02-19 18:19] OnurGumus commented on #976
@zvirja I checked it again. With binding redirections of FakeItEasy it works. Perhaps I made typo with the public key in my previous attempt. Apologies for wasting your time guys :(
Also I heard FakeItEasy 5 is on the way. So my assumption on assembly version 4.0.0.0 will be hold for a while is also wrong I think. Having that said I still don't see your motivation with sticking a version that much

[2018-02-19 19:50] zvirja commented on #984
@blairconrad Could you please find a few minutes and shed some light on this? Does FakeItEasy support mocks of the delegates? If so, what is the syntax (my sample above with parenthesis failed)?

Thanks :wink:

[2018-02-19 19:57] zvirja commented on #976
@OnurGumus Thanks for the confirmation, I'm happy to know that everything works fine for you! :blush:

@Kralizek One more time thanks for your assistance with with VS Enterprise test :pray:

[2018-02-19 19:57] #976 closed

[2018-02-20 03:43] blairconrad commented on #984
@zvirja, happy to. As @OnurGumus says, FakeItEasy will happily fake delegates (and I've created an issue to document this).
However, AutoFakeItEasy has never bothered with faking delegates.

When faking a `Fake<Func<int, int>>`, for example, `FakeItEasyMethodQuery.SelectMethods` fails because it doesn't consider the case `Fake<T>` where `T` is a delegate. The very naive change below rectifies this

[2018-02-20 04:32] blairconrad commented on #984
I'm back. I may understand. The FakeItEasyRelay is added to the fixture's residue collectors, but the `DelegateGenerator` creates a delegate first.
A quick search didn't reveal how to insert the FakeItEasy builder earlier in the chain, but I may not be looking right.

[2018-02-20 06:33] OnurGumus commented on #984
@blairconrad  as a fake it easy user I long for your PR :)

[2018-02-20 08:15] zvirja commented on #984
@blairconrad Thanks for clarifications and for your investigation! I've just checked for one more time and found that FakeItEasy indeed create the fakes for delegates. Likely, I've missed something in my previous test 😖

Yep. We have the [exactly same issue](742) with Moq - AutoFixture intercepts those requests before the `ResidueCollectors` have an opportunity to chime in.

I'd suggest to fix thi

[2018-02-20 11:30] blairconrad commented on #984
Thanks, @zvirja.

I think you're right. The benefit of a faked delegate would be that it could be configured using the fake library configuration syntax.

I'm not sure if @OnurGumus wanted to attempt a fix
I'm happy to extend the method query to support `Fake<Delegate>`, and will add an additional customization just as you say, but wonder: is one that supports `Delegate` good enough? What happens

[2018-02-20 14:03] blairconrad commented on #984
Oh, @zvirja has asked for confirmation on the syntax for faking a delegate. It's now been merged into FakeItEasy's documentation with FakeItEasy/FakeItEasy#1321, but to be explicit:

[code]

is the preferred syntax for clients, although "unnatural fakes can be used:

[code]

The latter would be the equivalent of how the `FakeItEasyBuilder` class would create the fake.

[2018-02-20 19:21] BGrebner opened #985 "System.UnauthorizedAccessException When Creating Generics"
When creating an object<T> the fixture throws a System.UnauthorizedAccessException on the second object that you create.

var fixture = new Fixture();
var successful = fixture.Create<SomeObject<SomeType>>();
var throwsError = fixture.Create<SomeObject<SomeType>>();

To get around this, I have to reinstantiate the fixture after every creation of an object<T>.  AutoData likewise breaks when trying t

[2018-02-20 19:27] zvirja commented on #985
As my might guess, everything works fine at my side :smiley: Therefore, could please share more details on the issue? More specifically:
- version
- runtime (framework or net core, version)
- [minimal, complete and verifiable example](https://stackoverflow.com/help/mcve)
- exception log with full stack trace
- is this issue stable, or happens from times to times?
- is this issue specific to some t

[2018-02-20 19:30] BGrebner commented on #985
sorry it stripped out the the generic portion from view for some reason.  This happens if you have a generic class. I tried to edit the above so that it will show properly.

[2018-02-20 19:35] zvirja commented on #985
Thanks for the clarification. Could please share a full code sample, so I can run it locally to see the issue? It would help a lot if you could answer to all my questions above - I never saw this issue, while I also use generics a lot :confused:

[2018-02-20 19:52] BGrebner commented on #985
Ok I figured out the part I was missing that apparently is crucial.  My methods are asynchronous.  When I do not generate in an async method it works.

[TestFixture]
	public class Example
	{
		public Task TestHelper<T>(Generic<T> test)
		{
			Assert.IsInstanceOf<Generic<T>>(test);
			return null;
		}

		[Test]
		public async Task Test()
		{
			var fixture = new Fixture();
			await TestHelper(fixtu

[2018-02-20 20:00] BGrebner commented on #985
If between the awaits I put fixture = new Fixture();  it works just fine.

[2018-02-21 00:41] blairconrad commented on #984
Fun fact: faking delegates wasn't supported until version 1.7.4257.42. Personally, I've no problem saying "you don't get this unless you use at least that version of FakeItEasy". @zvirja or others, do you consider this a problem? I'll have to do some trickery with the unit tests to make sure we don't break the existing AutoFakeItEasyUnitTest tests.
Unless you want to update the minimum FakeItEasy

[2018-02-21 09:03] zvirja commented on #985
The sample you provided above fails with `NullReferenceException`, because you return `null` from the `TestHelper` method. However, if I fix that part, I see no issues and everything works fine (rewrote for xUnit):
[code]

Therefore, may I ask you to provide me with more details? Please see the question list above - it's a good starting point.

Thanks.

[2018-02-21 10:36] zvirja commented on #984
@blairconrad Thanks a lot for your work on that!

No at all. According to the SemVer we are following here, we are not allowed to change the dependency version within the same major version. Therefore, I'd say that the right step would be to add such a support for the FakeItEasy versions that support the feature. Later we might want to drop 1.x support in v5 (for consistency), but that will happen

[2018-02-26 00:31] bordecal opened #987 "GuardClauseAssertion fails on generic parameter with IEquatable<T> constraint"
A System.BadImageFormatException is generated when attempting to run GuardClauseAssertion  against a method with a generic parameter with an IEquatable<T> constraint.  e.g.:
[code]
This appears to occur during generation of the dynamic dummy for the generic, as indicated by the exception stack trace:
[code]
At the moment, I am particularly interested in the case where there is also a `struct` cons

[2018-02-26 08:57] zvirja commented on #985
@BGrebner Did you have any chance to take a look?

[2018-02-26 09:00] zvirja commented on #987
@bordecal Thanks for firing the issue. May I ask you to attach a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) of the full scenario, so I can better see it from end to end?

Also please clarify which exact AutoFixture packages you have installed in your project (as we have different glue libraries participating in interface activation).

Thanks.

[2018-02-26 15:07] zvirja commented on #987
Ok, I've managed to figure out the scenario:
[code]

If I remove the generic type constrain, it will work as expected.
Let me investigate that in more detail.

[2018-02-26 18:22] bordecal commented on #987
Yup, that's pretty much it.   Nothing fancy, and using the latest releases for both AutoFixture and AutoFixture.Idioms.

[2018-02-28 17:32] Kralizek opened #988 "Callback after an object is created"
I got a class with some properties and a dictionary that contains the value of each property. I'm trying to use a customization to get that nasty dictionary populated with the right values, but the "Do" method gets invoked before the properties are valued. So I got a dictionary with "items" but the items have no value :(

The problem I am experiencing is that "Do" is executed during the object cre

[2018-02-28 23:51] github-arjunan opened #989 "Autofixture.Xunit issue with .net framework 4.6.2"
Hi, I have been using sitecore fakedb for unit tests. I have installed latest release of Sitecore.FakeDb.AutoFixture and Install-Package xunit. when i try to install AutoFixture.Xunit2 I'm getting below issues.

Attempting to gather dependency information for package 'AutoFixture.Xunit2.4.1.0' with respect to project 'Tests', targeting '.NETFramework,Version=v4.6.2'
Gathering dependency informatio

[2018-03-01 11:05] zvirja commented on #989
As far as I can see the [`Sitecore.FakeDb.AutoFixture`](https://www.nuget.org/packages/Sitecore.FakeDb.AutoFixture/) is not compatible with `AutoFixture 4`:
[code]

Therefore, either use AutoFixture 3.x, or ask @sergeyshushlyapin to update the library 😉

[2018-03-01 15:47] Kralizek opened #990 "Specify desired amount of items when configuring a customization"
Hi,

I'm trying to test a piece of code that is sensible to the amount of items in a given set. Unluckily, I really can't avoid passing proper data to activate a specific path.

I would normally use `CreateMany<T>(int)` to specify the amount of items I need, but the set is in a property of a container object (btw, I am addicted to the new relay for `IReadOnlyList<T>`) like

[code]

What I would su

[2018-03-02 10:15] Kralizek opened #991 "Support for ILookup<,>"
We recently added built-in support for `IReadOnlyList<>` (#941), `IReadOnlyDictionary<,>` (#980) and `ISet<>` (#983).

The one left out is `ILookup<,>`.

Unluckily this is a tricky one because there is only one implementation ([Lookup<TKey, TValue>](https://msdn.microsoft.com/en-us/library/bb460184%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) and this one has no public constructor.

I have a wo

[2018-03-02 10:17] Kralizek commented on #991
maybe @zvirja knows an awesomely clean way of doing it?

[2018-03-04 12:29] zvirja commented on #988
Hi @Kralizek, thanks for raising this issue.

Unfortunately, currently API doesn't allow you to register callback that is executed after the properties are assigned. It's unlikely that you could somehow work around that using the `Customize<>` API.

I'm registering that as a potential feature, as current API features are not enough for scenario like this. I do understand that we should not cover a

[2018-03-04 12:44] zvirja commented on #990
Thanks for raising the scenario.

I do understand the scenario you have, however I don't like too much the suggested way to fix it. The scenario looks very specific to extend API for it.

Instead, it's much better to implement it as a part of the #708. If we add the `With()` method overload taking the factory method, so it can be solved like this:
[code]

This solution is way more generic as behav

[2018-03-04 13:12] Kralizek commented on #990
@zvirja would it be ok to pass the fixture instance as argument to the factory method? That would allow us to write generator functions that don't depend on the captured context.

[2018-03-04 19:57] zvirja commented on #990
@Kralizek Yep, probably, that's definitely a good idea! But I need to investigate what exact type of parameter should be present (i.e. `ISpecimenBuilder` or `ISpecimenContext` or any arbitrary type).

Let's see @moodmosaic opinion first before we proceed further.

[2018-03-04 20:42] zvirja commented on #991
And than's again for raising the issue 🙇

Honestly, I'm a bit reluctant of adding this type to the core library. While `ILookup` interface is a part of BCL and standard libraries, for me it looks a bit non-trivial collection. Therefore, it might be totally fine that it's not generated out of the box. After all, AutoFixture isn't supposed to support each type in BCL we have.. 😕

As for the customiz

[2018-03-05 10:42] moodmosaic commented on #990
@zvirja, I was skeptical in #708 because it was the only scenario we were aware of. Now there's another one too, so, perhaps now it's time to *consider* adding it [this](https://github.com/AutoFixture/AutoFixture/issues/708#issuecomment-321508595) extension method to the AutoFixture itself. 😉 👍

[2018-03-05 10:48] zvirja commented on #990
Unfortunately, it will be impossible to implement that via an extension method - as you can see, it doesn't work with `Configure<>()` method. Therefore, the only way is to extend the [`IPostprocessComposer`](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFixture/Dsl/IPostprocessComposer.cs) interface. That basically makes almost no difference in the code - implementation is pretty

[2018-03-05 10:49] moodmosaic commented on #991
I think I would just go with an ad-hoc customization for it... After all, you *do* need custom, ad-hoc, stuff when working with AutoFixture.

*Not* that I wouldn't like this to be inside AutoFixture, it's just that there's a fair amount of work to be done in order to include it (tests, façade tests, maintenance).

I've used AutoFixture for years in some fairly sized codebases and I've never seen `

[2018-03-05 10:55] moodmosaic commented on #990
Sounds reasonable, as long as the newly added method does not mutate any input arguments, so that it doesn't violates [command-query separation](https://en.wikipedia.org/wiki/Command%E2%80%93query_separation). (See also [this](https://stackoverflow.com/a/48673138/467754).)

[2018-03-05 11:07] zvirja commented on #990
Agreed 😉
Converting this to a potential feature.

[2018-03-05 11:09] zvirja commented on #991
@moodmosaic Thanks for your thoughts, they confirmed my initial intention 😃

@Kralizek Given that there is a relatively simple way to enable this feature in your solution, would you be fine if we close this issue for now? If later there are more requests for it, we could re-open it again.

[2018-03-05 11:11] Kralizek commented on #990
I know that what I'm saying is advocating a 5.0 but maybe the fixed value should be a special case of the delegate.

So the delegate gets added in the interface and the fixed value becomes an extension.

Slightly related: do you mark a method as obsolete if you remove it from the interface and move it to an extension method? You are changing the interface at type level but compiling code will cont

[2018-03-05 11:13] Kralizek commented on #991
@zvirja so far you don't cancel the LookupBuilder above until I have time to copy it, no problem. We are just seeing somewhere else that a feature might not appear needed at the current time but might be needed later on.

[2018-03-05 12:24] zvirja commented on #990
@Kralizek That's a great idea from the API unification point of view. It probably makes sense to do that in the upcoming major releases.

So far I'd be happy to proceed with yet another overload of the `With()` method (so we have 3 overloads), so we don't introduce the breaking changes.

[2018-03-05 12:26] zvirja commented on #991
Well, it's impossible to remove issues from GitHub. Even after I close it, you can still find it using the Search and use the code sample above.

Therefore, you will have ages to copy the sample above 😄

[2018-03-05 12:26] #991 closed

[2018-03-05 12:34] zvirja commented on #975
Recently [I've contributed](https://github.com/nsubstitute/NSubstitute/pull/352) the `Configure()` extension method to the NSubstitute (will be released in v4). It allows to provide NSubstitute with a hint that the subsequent method invocation will be configured. As a side effect, the AutoFixture becomes disabled for that call, so you can work around the issues you have.

In your case, you can wri

[2018-03-05 12:34] #975 closed

[2018-03-05 12:38] zvirja commented on #989
Closing this as no actions are required from out side.

[2018-03-05 12:38] #989 closed

[2018-03-05 12:40] zvirja commented on #987
@bordecal I can confirm it's a bug. I'll try to look into that if I have free time. If you wish, you could also take a look 😉

[2018-03-05 12:47] zvirja commented on #984
Converting this issue to a feature, as we agreed to proceed with it (and FakeItEasy supports delegates).

[2018-03-05 14:25] bordecal commented on #987
I'd be happy to take a look, but it'll probably need to wait a few weeks since I'm rather busy with the start of a new project at the moment...

[2018-03-05 15:05] blairconrad opened #992 "Missing architecture diagram"
In [Fixture high-level layout](https://github.com/AutoFixture/AutoFixture/wiki/Internal-Architecture#fixture-high-level-layout) in the "Internal Architecture" wiki page, there's a broken link to the diagram that is the key to understanding the architecture.

I downloaded the old codeplex site archive and believe that the image is

![a63b3e77-c140-4029-8835-8017cbf4ae09](https://user-images.githubu

[2018-03-06 00:16] zvirja commented on #992
@blairconrad Good catch! 👍 Many thanks for reviewing the CodePlex archive and finding that picture!

I think for now it's good how you did that. I've already started to work on the doc site for the AutoFixture (however I'm approaching a bit slower than I'd like to 😖), so I'll put the picture there. It will be committed to the repo, so will be preserved.

Really cool that you spent your time lookin

[2018-03-06 04:13] skermajo opened #993 "System.Net.Mail support in netstandard2.0 and netcoreapp2.0"
Hi

It looks like System.Net.Mail is back in `netstandard2.0` and `netcoreapp2.0`. It would be great if the `MailAddress` generator could be included when targeting either platform. At the moment it looks like the `SYSTEM_NET_MAIL` conditional is [excluding it on both platforms](https://github.com/AutoFixture/AutoFixture/blob/dc7bd5ff68a146fb6027e09d6be82050e84ca620/Src/Common.props#L26) as it was

[2018-03-06 06:44] baltie opened #994 ".NET Standard support in AutoFoq"
AutoFixture now has support for .NET Standard, but AutoFoq requires .NET Framework. AutoFoq should also have support .NET Standard.

[2018-03-06 10:06] zvirja commented on #994
As far as I can see, [`Foq`](https://www.nuget.org/packages/foq) still doesn't support .NET Standard. Therefore, we cannot provide support as well.

Let me know if I'm mistaken and overlooked something.

[2018-03-06 11:01] Kralizek commented on #990
Maybe add the `Obsolete` attribute to the existing overloads? Or it's too early?

[2018-03-06 11:56] baltie commented on #994
No, it was me overlooking something. You're quite right. I'll postpone my question till Foq (hopefully) supports .NET Standard. :)

[2018-03-06 11:56] #994 closed

[2018-03-07 09:36] zvirja commented on #992
Closing this for now as decided that no actions are required.
Later I'll take the picture from the closed issue.

Thanks again!

[2018-03-07 09:36] #992 closed

[2018-03-07 11:32] blairconrad commented on #992
A pleasure. Happy documenting!

[2018-03-08 03:14] ymorozov opened #995 "GuardClauseAssertion fails to verify guard for constructor with parameters"
I've just migrated one of my projects from Autofixture 3.50.1 to 4.1.0 and looks like GuardClauseAssertion is not working anymore. Here is the example of the test that was passing in previous version but fails in current:

[code]

It fails with following exception:

[2018-03-08 10:27] zvirja commented on #708
Decided to give it a shot in #990.

[2018-03-08 10:29] zvirja commented on #990
I'd say that for now it doesn't make a lot of sense to do that - we cannot provide an alternative in a usable way.

I'm closing this issue in favor of re-opened #708 which describes the intention better.

[2018-03-08 10:29] #990 closed

[2018-03-08 11:13] zvirja commented on #993
@skermajo Thanks for letting us know! I've just checked that and indeed, it seems that `Mail` is already there in netstandard 2.0.

Converting this to a potential feature.

[2018-03-08 11:25] ploeh commented on #708
I came here via https://stackoverflow.com/a/49167084/126014, so I may misinterpret what's going to happen here, but I'm not convinced that adding an overload to `With` where you supply a lazily evaluated delegate is warranted.

Please don't take this feedback as more than it is, but whenever you add a feature to any code base, there's always the consideration that the benefits must outweigh the di

[2018-03-08 17:38] moodmosaic commented on #708
👍 on what @ploeh wrote.

[2018-03-08 17:50] moodmosaic commented on #703
This [comment](https://github.com/AutoFixture/AutoFixture/issues/708#issuecomment-371460131) by @ploeh helped me realize that I'm here, helping with issues, as long as the overall vision remains quite the same―I'll be pretty much useless if there's a *different* vision and so then I'll be out...

[2018-03-08 21:11] zvirja commented on #708
Hi Mark. Thanks for spending your time and raising this important note. I believe that I clearly see your message and moreover, I completely agree with it. It's pretty obvious that OSS project is not being paid and we spend our free time making it better and maintaining it. Therefore, we definitely are not forced to (and should not) accept any new feature people ask us about if we don't see why it

[2018-03-08 21:15] zvirja commented on #703
@moodmosaic I've described my vision in [my reply](https://github.com/AutoFixture/AutoFixture/issues/708#issuecomment-371625833). As far as I can see, I still have the pretty same vision as Mark, nothing completely different. I feel that your help and experience are very valuable for the project and I'd be very happy to still see you here. It's totally fine that sometimes we might have a different

[2018-03-08 21:26] zvirja commented on #995
Yep, that's the change we added in v4 (see #258). Now we also verify that `ParameterName` in the thrown exception matches the verified parameter name - so we can be sure that the proper guard clause is present. In the example you shown above, you don't pass the parameter name to the thrown exception, which is violating the exception throwing usage. You should fix the clause as following:
[code]

I

[2018-03-09 00:37] blairconrad opened #996 "Drop support for older FakeItEasy versions"
Suggested by @zvirja in https://github.com/AutoFixture/AutoFixture/pull/986#discussion_r173122352.
Assumes that #986 is merged.

Supporting very old versions of FakeItEasy increases development and maintenance costs, and complicates the code quite a bit. If we dropped support for older FIE's, we could simplify the codebase as follows:

* Change minimum supported to 1.7.4257.42
    * Can remove the

[2018-03-09 08:33] zvirja commented on #996
@blairconrad Thanks for the detailed explanation. I've added that to v5 scope. I have no clue when we are going to start that work, however hope one day we'll apply those changes 😅

[2018-03-10 10:22] Kralizek opened #997 "Mixing AutoFixture attributes with NUnit3 ones"
Hi,

This is more of a question than an actual issue, so please take it as it is.

I was trying to write a unit test that should assert the behavior of my system under a certain range of conditions.

The test takes in 5 variables, for the first two I want to provide a set of values, the last three can be autogenerated by AutoFixture.

For the first case, NUnit supports attributes like [`ValuesAttr

[2018-03-10 11:36] zvirja commented on #997
Is it a duplicate of #343?

[2018-03-10 11:42] Kralizek commented on #997
Oops yes, my bad for not looking with more care at the open issues...

[2018-03-10 17:18] zvirja commented on #997
Duplicate of #343

[2018-03-10 17:18] #997 closed

[2018-03-11 12:12] Kralizek commented on #343
Hey!

I'm looking a bit at this issue.

I got a few questions:

Is there a reason for having both `AutoDataAttribute` and `InlineAutoData`? At least form API point of view, `AutoDataAttribute` covers just a special case of `InlineAutoDataAttribute`, i.e. no values provided.

Should the NUnit attributes be supported by both AutoData attributes? In any case, is it ok that the same attribute returns

[2018-03-12 11:18] zvirja commented on #343
In fact yes, the difference is in the semantic meaning only. I believe it originated from xUnit, where we have `InlineData` attribute.
While the API might be indeed simplified to a single attribute only, I'd prefer to keep that as is. First of all because a lot of people became are familiar with both attributes. Another reason is that I see value in that distinction - in semantics of the test.

I'

[2018-03-12 14:21] Kralizek commented on #343
I like the `[AutoValue]` approach, I wonder what the implications would be if we had two parameters with the attribute: do we incur into the risk fo generating the same value twice for the same atomic type (say `Int32`?)

[2018-03-12 14:29] zvirja commented on #343
@Kralizek Probably. I'm just trying to say about alternative ways and that a huge investigation is required here to make this happen, rather than an ad-hoc fix.

[2018-03-12 14:29] Kralizek commented on #343
Anyway, one of my working theories was not to duplicate how to handle the NUnit attributes, rather try to make sure NUnit sees the fixture'd arguments as "constant values".

e.g.
[code]

is intercepted by AutoFixture and "transformed" into something equivalent of

[code]

This would give us the following executions
* 1, "some-random-string-for-second-argument"
* 2, "some-random-string-for-second-a

[2018-03-14 14:56] #984 closed

[2018-03-14 20:34] zvirja commented on #742
Actually this is not a bug, but a lucking feature. It will be a huge breaking change to simply redirect all the delegate requests to Moq, as currently they _always_ generate the result value, which might not be the case for Moq.

In any case, I've created PR #999 to add this feature in the future versions of glue library, so you can enable it if you require that.

[2018-03-15 09:09] zvirja commented on #985
@BGrebner Any updates? 😞

[2018-03-15 09:11] zvirja commented on #995
Closing this one as no actions seems to be required. Please re-open the issue if needed.

[2018-03-15 09:11] #995 closed

[2018-03-15 10:32] blairconrad opened #1000 "Add Configured mode for AutoFakeItEasy"
In https://github.com/AutoFixture/AutoFixture/pull/998#issuecomment-373170972, @zvirja suggests

[2018-03-15 10:33] blairconrad commented on #1000
I'm happy to work on this.

[2018-03-15 14:01] zvirja commented on #1000
Would be awesome!

[2018-03-15 18:19] zvirja commented on #343
It could make a trick if you find the way to implemente that :wink: Previously I didn't see how that could be achieved, but I don't use NUnit, so I could easily overlook something :confused:

[2018-03-16 07:01] steph4nc commented on #343
This suggestion from @zvirja might be possible.

[code]

Using a custom NUnit attribute, here is the interface for a parameter attribute, the method requires an IEnumerable to be returned, https://github.com/nunit/docs/wiki/IParameterDataSource-Interface

Having a look at the current AutoData attribute, it is using the ITestBuilder interface which also returns an IEnumerable
Here is the current im

[2018-03-17 20:54] OsirisTerje opened #1002 "Autofixture with AutoNSubstitute fails with NSubstitute 3.10"
I am using Autofixture with NSubstitute 3.10, but lately gets error when it runs giving the exception below:

Inner exception messages:
	System.IO.FileLoadException: Could not load file or assembly 'NSubstitute, Version=2.0.3.0, Culture=neutral, PublicKeyToken=92dd2e9066daa5ca' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception

[2018-03-17 21:12] OsirisTerje commented on #1002
Adding the following binding redirect solved the issue for now, but it should not have been necessary:
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
    <assemblyIdentity name="NSubstitute"
                      publicKeyToken="92dd2e9066daa5ca"
                      culture="neutral" />

[2018-03-19 09:50] zvirja commented on #1002
@OsirisTerje This is totally fine that we target the older version of `NSubstitute`. It should work because of the binding redirection. Try adding the following attributes to your `csproj` file:
[code]

See more detail: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection

Closing this as no actions are required from our side.
Tha

[2018-03-19 09:50] #1002 closed

[2018-03-19 11:36] #742 closed

[2018-03-21 16:09] zvirja commented on #742
Released in v4.2.0. To enable the feature:
[code]

[2018-03-21 16:10] zvirja commented on #984
Released in v4.2.0! To enable:
[code]

[2018-03-21 16:19] zvirja commented on #625
Recently we have performed the customization refactoring to use properties for the customization tweaking. Potentially, this feature could be controlled like following (find the better setting name):
[code]

Under the hood we could implement that via different strategy how that has been advised above.

Marking with a jump in tag, as it should be relatively simple to implement this.

[2018-03-25 15:55] Kralizek commented on #343
Following @steph4nc line, I created [this gist](https://gist.github.com/Kralizek/50c82058902347da12ea1ac787cde096)

The small unit test I created is correctly executed and interacts nicely with the other NUnit attributes (in the example I used `Values` and `Range`).

Notable to report, the object is created only once and used for all the iterations.

[2018-03-28 03:52] Excelzn commented on #987
I took a look at this and although I am pretty sure I figured out what the issue is, actually fixing it is beyond me. The problem only occurs if the method signature is like this:

`public void DoSomething<T>(T value) where T : IEquatable<T>`

and goes away by changing it to this:
`public void DoSomething<T>(T value) where T : IEquatable<AClass>`

The error is thrown by this line in `DynamicDummyT

[2018-03-28 12:20] Kralizek commented on #343
@zvirja sorry for the unsollecited mention but the default sorting in GitHub is "newest" issues and this slipped in page 2. :)

[2018-03-28 13:11] dklinger opened #1007 "NSubstitute.ReceivedCalls() returning wrong value using AutoFixture.AutoNSubstitute"
We have a lot of tests using 'Class.ReceivedCalls()' and 'var tmp = Class.Received(int).Property;' to check the call count. In v3 of AutoFixture it correctly reported the call count, especially of Properties, which it doesn't do anymore. The call count of methods seems to be still ok.
Given that we have the following code:
[code]
And given that we have the following tests:
[code]

My AutoNSubstitu

[2018-03-28 13:57] zvirja commented on #1007
Thanks for firing the issue. Actually, this issue has nothing to do with AutoFixture, while we are affected by it as well 😕

This issue is mostly caused by xUnit and if you rewrite the test as following, it will pass:
[code]

When you run tests, xUnit tries to format the test name for you. If it finds that type is not known and doesn't have `ToString()` overload, it uses the structural inspection

[2018-03-28 16:08] evilbaschdi commented on #1007
just tested this. finally our tests asserting ReceivedCalls went back to have a successful result again.
Something that still fails are the asserts on Received(x) like Received(1).Speed Daniel mentioned above.

Do you also have an answer / solution for hat?

[2018-03-28 16:33] zvirja commented on #1007
Are you guys working on the same project? :) If so, could you clarify how you fixed the issue?

The options suggested above should help with both the issues. If they don't - clarify the scenario.

[2018-03-28 17:15] evilbaschdi commented on #1007
not actually the same project but at the same company.
we've been on xunit 1.9 + nsubstitute 2 / 3 for a long time and finally managed it to get our internal assemblies (nuget packages so a simple way back to an older version of just one reference is not as much as easy as it sounds to be) to be compatible to xunit2. and now we have these two problems.

We already tried out some things and finally

[2018-03-29 11:48] zvirja commented on #1007
@dklinger @evilbaschdi Please follow up after you have a chance to check that - it's quite interesting why you sill see the issues, even after you applied the patch.

Re-open the issue to indicate that we still have ongoing investigation.

[2018-03-29 11:52] zvirja commented on #987
@Excelzn Thanks for the report. I've also tried to quickly solve the issue, however found that a closer look is required. It appeared that `Reflection.Emit` API in .NET is overcomplicated when you operate with `TypeBuilder` like with `Type`.

[2018-03-29 14:24] dklinger commented on #1007
Ok, so I've tested the last few hours. First: Thanks for your reply, your explanation and the suggestions - that helped a lot.
I've tested v4 of NSubstitute. It works for my example code above, but does not resolve the issue entirely in our real world projects. The issue is, that it resolves the problem of the wrong ReceivedCalls-count only for SUT-Calls to methods, not to properties.

Example of

[2018-03-29 14:56] zvirja commented on #1007
@dklinger Thanks for the follow-up! Could you please share [MCVE](https://stackoverflow.com/help/mcve) of code for the last scenario that still fails? Just to ensure that nothing is missed and I haven't misunderstood the conditions.

After that I'll try to investigate why that happens and how to work around that.

Thanks.

[2018-03-29 15:07] dklinger commented on #1007
Yep, sure. Here it is:

System under Test:
[code]

Test-Case:
[code]
Currently I'm trying to catch up on the discussions at https://github.com/xunit/xunit/issues/1386 and https://github.com/AutoFixture/AutoFixture/issues/805. Maybe we're doing something wrong or there is a way to tell xUnit to not autogenerate the test name.
I also tried to create my own TheoryAttribute overriding the DisplayName

[2018-03-29 17:05] dklinger commented on #1007
Hello, me again :)
It is indeed xUnit2 calling all Properties and Fields of test-method-parameters which are of a Complex Type. The line of code is this one: https://github.com/xunit/assert.xunit/blob/2b70a9b0c5bb291f98472ec24cec437acf8d65c8/Sdk/ArgumentFormatter.cs#L156

Thanks for your support. I've reopend an issue at the xUnit-Repo where the discussion should  go on: https://github.com/xunit/x

[2018-03-29 17:05] #1007 closed

[2018-03-29 19:16] cocogorilla opened #1008 "null guard issue?"
I have a test in one of my suites... its an ice breaker that just verifies autofixture components downloaded and interacting with my dev studio correctly.  Interestingly, it started failing with my last autofixture update.  I'll put the test below and report the error I'm seeing... it has always passed previously to my knowledge.

Should I just remove the test, point it to some other type or possi

[2018-04-01 11:36] zvirja opened #1009 "EmptyGuidBehaviorExpectation should verify the parameter name"
To make expectation consistent with `NullReferenceBehaviorExpectation`, we should verify that the raised exception contains the correct parameter name.

[2018-04-01 11:54] zvirja opened #1010 "Fail with different exception message if parameter name in guard clause is wrong"
Currently if a guard clause contains invalid parameter name, the `NullReferenceBehaviorExpectation` throws exception that guard clause is missing. It might be really confusing to the people, so we should fail with a better exception.

[2018-04-01 14:11] zvirja commented on #343
@Kralizek Thanks for investigation of the idea :+1: It looks like `AutoData` attributes in your gist are isolated to each other within the single test run. Will features like `Frozen` attribute work there?

[2018-04-01 17:34] Kralizek commented on #343
@zvirja I'm not sure how `Frozen` works but I a parameter on each attribute should have its own independent instance and its own fixture with it.

To give it a try, I created an attribute deriving from the `AutoValue` one
[code]

And these two tests
[code]

The first one is not passing, as expected.
The second one is more interesting. For some reason the `AutoValue`ing simple types breaks NUnit an

[2018-04-01 22:05] zvirja commented on #1008
Good catch :smiley: Indeed, the guard clause is missing and therefore the assertion fails. Looks expected. If you wish, you could fire a PR and improve that.

Let me know if I misunderstood the question :wink:

[2018-04-02 09:31] #1008 closed

[2018-04-02 09:42] zvirja commented on #343
Sounds like an issue, as `Frozen` attribute is intended to work across different arguments. Here is a quick demo how it works:

[code]

It's important that `ValueReader` gets the same instance of  `source` as provided via the parameter. Otherwise, this test will never pass.

When we are investigating new opportunities, we should ensure that `Frozen` attribute works, as it's a major building block

[2018-04-04 10:03] zvirja opened #1013 "[Moq] Add infrastructure for easy constructor customization for created mocks"
Currently it's very hard to customize which exact constructor overload to choose when create a mock for the class. Rework the architecture to allow to customize that easy.

Suggestion: Introduce `BareMockRequest` type to activate the mocks. We could later easily customize that via `Customizations` collection.

[2018-04-04 10:04] zvirja opened #1014 "[NSubstitute] Add infrastructure for easy constructor customization for created substitutes"
Like #1013, but for NSubsitutute

[2018-04-09 21:11] memark commented on #805
@remcomulder @zvirja Just wanted to say that this discussion (which helped me understand a similar issue), and the dedication you've demonstrated here, is nothing but awesome! Thank you both for your great products.

[2018-04-11 04:51] grzesiek-galezowski opened #1017 "Can I replace FactoryMethodQuery for all types"
Hi,

The current version of `FactoryMethodQuery` uses factory methods with fewest parameters. Unfortunately, this doesn't work for me as in many cases, I have static properties like `Empty` that return "null objects" and they get called which is usually not what I want.

Can I somehow configure AutoFixture to replace or remove the query?

[2018-04-11 11:27] zvirja opened #1018 "Add collection adapter for the Engine"
Currently in order to modify "Engine" builders, you need to pass a customized engine to the `Fixture` constructor. That approach works, however is pretty inconvenient.

Instead, I suggest to add a collection adapter like `Customizations` to make the replacement of default builders.

[2018-04-11 12:08] zvirja commented on #1017
Hello,

The part in the question belongs to the `Engine`, passed to the `Fixture` constructor. You can replace it if you pass the customized engine. See the full demo below (hope I correctly got your question):
[code]

Let me know whether it solves your issue.

P.S. I've registered a wish #1018 to simplify the default builders customization.

[2018-04-11 20:09] grzesiek-galezowski commented on #1017
Thank you for your extensive help, this allowed me to solve the issue I had. Thumbs up for making this easier!

[2018-04-11 20:09] #1017 closed

[2018-04-12 12:17] SuperJMN opened #1019 "How to make AutoMoq to respect MaxLengthAttribute (from System.ComponentModel.DataAnnotations)?"
I'm using **AutoFixture** with **AutoMoq** to generate and configure a **Mock to an interface**. This interface uses the `MaxLength` attribute to specify the maximum length each property.

How can I make the generated mock respect the `MaxLength` attribute?

Please, consider that I have load of properties using this attribute? (not only one, like in this example).

The code to create the mock is t

[2018-04-12 13:59] zvirja commented on #1019
Thanks for raising the issue!

The `Min` and `Max` attributes are not yet supported, see #678. The potential way to implement it might be checked in PR #711 that was closed.

After you add the customization like that, it should work. If it doesn't - please share your implementation.

P.S. PR to implement the #678 is welcome 😅

[2018-04-17 15:14] blairconrad commented on #1000
@zvirja, sorry for radio silence. I was off on vacation, then catching up after vacation and whatnot. I've started work on this.

[2018-04-17 20:32] zvirja commented on #1000
@blairconrad No worries at all :blush:

[2018-04-18 10:07] #993 closed

[2018-04-24 09:52] zvirja commented on #1019
Closing due to inactivity and it seems no actions are required.
Please re-open the issue if you believe you still have unanswered questions.

Thanks 😉

[2018-04-24 09:52] #1019 closed

[2018-04-25 08:32] #1010 closed

[2018-04-25 21:00] malylemire1 opened #1026 "Access to fixture created by AutoData attribute."
Hi,
For now i only can access the fixture like this.
[code]
And I get the 'AutoDataAttribute.Fixture' is obsolete warning.

Is there a better way to access the fixture created in the AutoData attribute. I would like to mix parameter and manual creation and injection.
Thanks

[2018-04-26 12:57] malylemire1 commented on #1026
Yes, it's really a better way.

Can you put this in the AutoData wiki?
I have search everywhere to find how to do this.
Did not think the IOC got the IFixture registered.

Thanks a lot!

[2018-04-26 14:28] gtbuchanan opened #1027 "Treat delegates as substitutes with NSubstitute"
NSubstitute supports [substituting delegates](http://nsubstitute.github.io/help/creating-a-substitute/#substituting_for_delegates). However, delegates are not resolved as substitutes when using a fixture with the NSubstitute customization. Therefore, I can't run any NSubstitute assertions on them.

[code]

Fails with:

Similar to #984.

[2018-04-26 15:03] gtbuchanan commented on #1027
I just realized the property `GenerateDelegates` already exists on `AutoNSubstituteCustomization`. Setting that to `true` resolved my issue. My apologies. I'm new to AutoFixture and couldn't find any documentation on this. Should have checked after I saw how it was resolved for the other issue.

[2018-04-26 15:03] #1027 closed

[2018-04-26 15:09] malylemire1 opened #1028 "Get instance of inner Interface created by AutoMoqData."
Hi,

I'm trying to get the instance of the the inner Mocked Interface created by AutoMoqData to setup the interface.

Is there a way to do something like this

[code]

Thanks

[2018-04-26 15:31] Kralizek commented on #1028
try

[code]

[2018-04-26 15:52] Kralizek commented on #1026
Why are you trying to register for the fixture with the IoC? In my experience it is never needed

[2018-04-26 16:34] malylemire1 commented on #1028
You will get Object instance was not created by Moq. accessing sut.

This will actually work if interface is in a public property.
Mock.Get(sut.InnerInterface).Setup(x => x.Method).Result(something);

But what if the interface is is mocked and constructor injected, registered in the IOC container but not accessible in sut with a public property?

[2018-04-26 17:08] malylemire1 commented on #1026
Mostly to minimize test method parameters for complex recurring interfaces setup.

[code]

[2018-04-26 19:09] zvirja commented on #1027
Yep, you're completely right in your finding :blush:

One day we'll create a nice doc site and you'll be able to find this information there :sweat_smile:

[2018-04-26 20:03] Kralizek commented on #1027
| One day we'll create a nice doc site and you'll be able to find this information there 😅

Me at the standup meeting at work!

[2018-04-26 20:06] malylemire1 commented on #1028
Hi,
I was already doing that. But for 30 interfaces it's pretty ugly to have them in method parameters.
Your code reminded me that AutoMoqData does not freeze all mocked interfaces. So it seems impossible to get auto created mocks from the container of the fixture. They are not injected by default so if fixture had a GetInstance like method, it will not return anything for the auto created mocks.

[2018-04-27 07:56] zvirja commented on #1026
Agree, I have the similar usage in tests. The only difference is that I prefer to prefix those auxiliary repeating methods with `When()`, so test looks like following:

[code]

But basically idea is still the same 😉

[2018-04-27 07:57] zvirja commented on #1026
Closing this one as no more actions are required.

@malylemire1 I'm going to create a doc site somewhere in future. However, feel free to add this sample to [our wiki](https://github.com/AutoFixture/AutoFixture/wiki/Cheat-Sheet) 😅

[2018-04-27 07:57] #1026 closed

[2018-04-27 11:51] zvirja commented on #1028
Thanks @xlecoustillier for the great answer. Basically, I'd suggest to do the same as I'm constantly following this pattern in my tests.

Well, this argument looks a bit weird. Probably, it's something wrong with the design of tested code if you  need to configure 30 dependencies to make a scenario 😟 I'm 99% @ploeh would suggest you to review the code first before proceeding further, as per his ad

[2018-04-28 18:32] ploeh commented on #1028
Yes, I would suggest that 30 dependencies are too many.

Regarding getting at the injected dependencies, using the `[Frozen]` attribute, as @xlecoustillier suggests, is one option, and in fact the reason that attribute originally exists.

Using `Mock.Get(sut.Dep1)` is also an option I often use.

Why not expose it as a property, then? [What you compose, you can also expose.](http://blog.ploeh.dk/2

[2018-04-28 20:52] Kralizek commented on #1028
I feel like adding on @ploeh by specifying that the best approach is to expose dependencies as class properties without enriching your abstraction which would be nothing more that leaking your implementation!

[2018-05-01 15:14] malylemire1 opened #1032 "Proposal for GenerationDepthBehavior."
Here is a generation Depth limiter behavior proposal.

fixture.Behaviors.Add(new GenerationDepthBehavior(2));

Had to re-implement ComposeIfMultiple for test because it's internal.

[code]

[2018-05-01 15:53] zvirja commented on #1032
Hello, thanks for sharing the idea! :+1:

Could you please describe the reasoning behind this feature? Do you have any particular scenario where you found it useful?

[2018-05-01 16:56] malylemire1 commented on #1032
Hi, I use it mainly for ORM entites or external api classes where depth can propagate indefinitely but is not recursive.

[2018-05-01 16:59] malylemire1 commented on #1032
I have put it directly on AutoMoqDataAttribute

[code]

[2018-05-01 17:38] malylemire1 commented on #1032
I would also suggest to make ComposeIfMultiple public. It would make custom behavior implementation easier.

[2018-05-02 10:07] zvirja commented on #1032
I do understand what the behavior does, the main question is the purpose and scenarios.

So, as far as I understand, the main goal you are aiming is the performance. From the functional perspective everything works fine and you simply would like to save a few CPU ticks.

It's a bit hard to judge whether we would like to ship with this feature out of the box or not. I do understand that you might i

[2018-05-02 10:46] zvirja commented on #1032
@moodmosaic It seems the suggestion is **not**  to change the default behavior, but to make `GenerationDepthBehavior` a part of the AutoFixture library (so you could enable it on demand). So what is your opinion regarding this? :wink:

[2018-05-02 11:01] zvirja commented on #1028
@malylemire1 Closing this as it seems no further assistance is required. Please let us know if there is anything else we can help you with 😉

Thanks for one more time for raising the question! 👍

[2018-05-02 11:01] #1028 closed

[2018-05-02 11:17] zvirja commented on #938
Closed via #972

[2018-05-02 11:17] #938 closed

[2018-05-02 12:51] malylemire1 commented on #1032
@zvirja It's not actually for performance reasons. The problem with indefinite propagation is failed test with out of memory exception.

[2018-05-02 13:13] moodmosaic commented on #1032
@zvirja, @malylemire1, unless this ad-hoc behavior addresses a *wide* range of scenarios, I don't think it has to be built-in.

---

I can't spot an [MCVE](https://stackoverflow.com/help/mcve), but AFAICT, the issues are coming from automated-tests that aren't actually *unit* tests (e.g. boundary/integration tests).

AutoFixture wasn't primarily designed to deal with integration tests, so some ad-

[2018-05-03 20:02] #930 closed

[2018-05-04 16:28] damian-krychowski commented on #678
@ztsmith  shouldn't the tests be rather:

[code]

Don't these make more sense? Asserting that length should be always equal to 5 is quite strange for me.

[2018-05-04 16:41] zvirja commented on #678
@damian-krychowski Have you referenced a wrong guy? :wink:

[2018-05-07 09:25] zvirja commented on #678
@damian-krychowski I do agree that we should create string of variable length, rather than of stable one.

[2018-05-10 14:04] zvirja commented on #1032
@malylemire1 Would you be fine if we postpone this for now and implement it later only if we see a lot of requests for this feature?

I'm sorry we cannot include every desired feature to the core 😟 It's a bit hard to keep the balance between the provided feature and and the amount of code we maintain here. It looks like it will not be a big problem for you to implement this ad-hoc feature in your

[2018-05-11 17:21] blairconrad opened #1035 "Use StyleCop to maintain coding standards"
Sorry, this is totally unsolicited, but @moodmosaic and I were chatting about it a bit, and I figured I'd not pollute #1025 any more.

If you just plug StyleCop into the build, with no configuration at all, there are only 4506 errors. Here's a uniquified list. Roughly. I probably made some errors de-duplicating.

[code]

It probably wouldn't be too bad to initially turn most rules off and then tur

[2018-05-15 06:05] andersborum opened #1036 "Generating System.Uris with a configurable number of path segments"
I need the option of generating System.Uris with a configurable number of path segments. As far as I'm informed, the UriGenerator currently only generates Uris in the form of protocol://host (and I'm after protocol://host/segment where number of segments = n).

Unless I missed something, it's not currently supported and I would like to contribute the feature a pull request.

[Referring to UriGener

[2018-05-17 17:48] #1000 closed

[2018-05-17 18:16] zvirja commented on #1036
Thanks for registering the issue 👍

Honestly, I'm a bit in doubt whether we should change the default behavior of the core. The default set of builders is not supposed to cover all the needs and is suitable for the _common_ cases only. When the default behavior is not suitable for clients, they are expected to customize the fixture. In your case, you can create the customized version (e.g. `Custom

[2018-05-17 18:34] blairconrad commented on #1035
Here's a different view of the violations in master (as of 11066d77bcee17e4175679cfa0e9133957695671), with counts on the left. In some cases, the description of a rule will differ, for example, if you look above, you see SA1202 has several incarnations, all about how member visibility affects ordering. Below, all violations of the same type have been lumped together.

* 1861 -   [SA1200](https://g

[2018-05-23 21:08] #678 closed

[2018-05-25 07:16] Nikkelmann opened #1038 "Check DateTime properties for DataAnnotations.DataType.Date"
When using AutoFixture to generate complex objects it would be nice if it honored the DataType attribute, specifically the DataType.Date kind, so DateTimes could be generated as DateTime.Date.

In my case I have a dto class with multiple DateTime properties, some which are Date-only. When I persist the model the Date-only properties are truncated in the local db. When comparing what was stored in

[2018-05-25 13:36] zvirja commented on #1038
@Nikkelmann Could you please provide us with a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) of code to better demonstrate the feature you request? It will ensure that we are both talking about the same thing.

Thanks 👍

[2018-05-26 18:52] zvirja commented on #1032
Closing this issue as a part of the cleanup. Thanks again for sharing the idea! 😉

[2018-05-26 18:52] #1032 closed

[2018-05-28 07:14] moodmosaic opened #1040 "Proper random number generation"
*This goes back to #2, one of the very first issues we've created here, on GitHub, after @ecampidoglio migrated the source code from CodePlex.* :rocket:

---

[RandomNumericSequenceGenerator](https://github.com/AutoFixture/AutoFixture/blob/e6293de7c8834d5dd42e1f81868af768d08f3438/Src/AutoFixture/RandomNumericSequenceGenerator.cs) is basically a wrapper on top of [System.Random](https://msdn.micros

[2018-05-28 07:40] moodmosaic commented on #1040
/cc @ploeh

[2018-05-28 19:58] ploeh commented on #1040
I can't say that I have opinions about which RNG is used. It was never the intent that AutoFixture should be cryptographically random, and I don't see how that's important. I agree that it matters for libraries like Hedehog and FsCheck, but is it important in the context of AutoFixture?

Isn't [that issue list](https://github.com/AutoFixture/AutoFixture/issues?q=is%3Aissue+random+label%3Abug) a bi

[2018-05-29 08:16] moodmosaic commented on #1040
To be clear, none of those random number generators should be used for crypto or security applications. I only care about whether the current implementation is adequate for "everyday" use.—If so, it's all good.

[2018-05-30 13:44] mrtylerzhou opened #1041 "Expect random number but everytime is the same with Nunit"
[code]
I use repeat attribute to let the method run 10 times,and I expect each time both a and b have different values but I got  the same value 10 times.

[2018-05-30 14:06] Sobieck commented on #1041
I'm getting the same results with this test code.

[code]

[2018-06-01 16:21] andersborum commented on #1036
Thanks for the feedback. I guess the best approach is to keep the library as common as possible and then customize as suggested; however, what actually is considered common varies greatly. I guess the System.Uri type is sufficiently complex such that the scale tips in favor of customization.

Should be fairly easy to write a generator that uses CreateMany<T> to create path segments.

[2018-06-03 18:43] snerks opened #1042 "GuardClauseAssertion incorrectly warns about deferred execution when return type is string"
See also: #277

# Steps to reproduce #
Assume this SUT:

[code]
Write this test:
[code]

# Expected result #
The test should fail, with the following warning:

`An attempt was made to assign the value null to the parameter "input" of the method "GetString", and no Guard Clause prevented this. Are you missing a Guard Clause?`

# Actual result #
The test fails with this warning:

`An exception of ty

[2018-06-04 10:37] mjfreelancing opened #1043 "Unable to get a binding redirect to work for v1.7.4109.1"
I have reviewed everything I can find regarding AutoFakeItEasyCustomization and issues trying to load v1.7.4109.1 of FakeItEasy - I just cannot get my tests to run.

My simple test case is:

`Fixture = new AutoFixture.Fixture();`
`Fixture.Customize(new AutoFakeItEasyCustomization());`
`var value = Fixture.Create<int>();`

Without the call to Customize() everything works. With it in place I get the

[2018-06-04 10:40] zvirja commented on #1043
Could you please attach a full project, so we could play with it? Please create a plain project similar to the one you have a problem with and demonstrate the issue there. It could happen that simply something is wrong with assembly binding redirection configuration.

/cc @blairconrad

[2018-06-04 10:42] mjfreelancing commented on #1043
ok, I'll create another project - actually it is two projects (one referencing the other) - may be this is a problem. Stay tuned. Thanks.

[2018-06-04 11:28] zvirja commented on #1043
Well, then simply replace the old project with a new one - easy :smile:

Let me know if you need my further assistance :relaxed:

[2018-06-04 11:37] mjfreelancing commented on #1043
I wish it was that simple. I'll let you know if I find the cause.

[2018-06-04 12:34] mjfreelancing commented on #1043
I ended up re-creating the problematic projects from scratch and got it working. Comparing the old/new projects the main differences were:

1. The old project included AutoFixture.Xunit2 - no idea why
2. The old project had a  ` <TargetFrameworkProfile />` - no idea why

There were no differences regarding FakeItEasy between the two projects.

[2018-06-04 13:11] mjfreelancing opened #1044 "Unable to create a Fake"
I'm in the process of updating a project I was working on a few years ago. In the process I have updated to the latest of FakeItEasy and AutoFixture.

I have 40 tests that are failing with an error similar to:

AutoFixture was unable to create an instance from
`FakeItEasy.Fake`1[System.Collections.Generic.IList`1[AllOverIt.Evaluator.AoiFormulaTokenProcessorContext]] ` because creation unexpectedly

[2018-06-04 13:16] zvirja commented on #1044
Thanks for sharing the scenario!

As usual, may I ask you to provide [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve), so I can copy-paste it to deeply investigate the reason? The devil is often in some specifics, so even if you described the scenario good, it could still happen that some non-mentioned detail matters.

Thanks a lot in advance! :relieved:

[2018-06-04 13:19] zvirja commented on #1043
The first point should not be a deal-breaker - it's a common usage pattern. The second one also looks quite strange, but I didn't have much experience with this setting. In any case it's very unlikely we can do something from our side to prevent the issue.

Closing this as the problem looks solved. Please reopen the issue if you see changes needed to apply in the library.

Thanks again for spendin

[2018-06-04 13:19] #1043 closed

[2018-06-04 13:29] mjfreelancing commented on #1044
Sorry, I should have gone and created another (possibly pair of) projects - I was hoping my question may have prompted something obvious before I went off and did that as it would have involved converting my wrapper methods into raw AutoFixture / FakeItEasy code.

The good news is I seem to have fixed it.

The `AoiFormulaTokenProcessorContext` class causing the problem is `internal` (in another pr

[2018-06-04 15:13] zvirja commented on #1044
Good news the issue is mitigated :relaxed: That's the reason I asked for the sample - it's always easier when other factors are isolated.

I know :smile: It's related to the Fakes and `Castle`'s proxies, used under the hood. Yep, if class is internal, then it indeed should help.

[2018-06-04 15:13] #1044 closed

[2018-06-04 19:14] #1035 closed

[2018-06-04 19:22] zvirja commented on #1041
Thanks guys for raising the issue.

I'm not using NUnit (prefer xUnit), so I don't have experience with this attribute at all. But according to [the documentation](https://github.com/nunit/docs/wiki/Repeat-Attribute) it looks like an expected behavior. Could you please describe why you expect to have different input for each run?

cc @Kralizek as NUnit user - please share your opinion as well 😉

[2018-06-04 19:31] zvirja commented on #1036
Well, the current strategy is to create values than pass most obvious expectations, so code which doesn't cares about the values "scrupulously" will not complain. OTOH if some code has more advanced expectations, we are fine to not satisfy them - it's exactly what customization API is designed for 😉

Exactly. And the variety of the possible forms is too large to predict all the possible expectatio

[2018-06-04 19:57] Kralizek commented on #1041
I never used the said attribute. But I agree, from the documentation you linked it would seem that the nunit execution engine would store the parameters used for the first execution.

[2018-06-04 21:38] mjfreelancing commented on #1044
I understand. With the decades of experience I have I should know better - I've been in the same boat and ask the very same. Thanks for the responses.

[2018-06-04 22:04] zvirja commented on #1042
@snerks Thanks for the repro! I've tried to fix the issue via PR, so stay tuned 😉

[2018-06-05 12:41] zvirja commented on #1041
Well, it's more about the desirable behavior, rather than explanation that current behavior is incorrect 😉

If you wish, you could easily implement your own `AutoData` attribute that will have e.g. `Repeat` property. Use the [existing implementation](https://github.com/AutoFixture/AutoFixture/blob/b9a3f4d3962d9213546c1623f994b9a73aebd2d1/Src/AutoFixture.NUnit3/AutoDataAttribute.cs#L79) as a base.

[2018-06-05 14:18] zvirja commented on #1040
@moodmosaic I also don't have any opinion on that. For me the randomness is not the issue, but that could be bound to my personal experience. The major issue is that current implementation is not efficient due to `HashSet<>` and if we mitigate that, it would be awesome.

If change of the approach solves both the issues simultaneously, then I'm both hands in. But we should ensure the fulfill the pr

[2018-06-05 20:31] moodmosaic commented on #1036
Perhaps, you can do what you describe by [supplying a custom scheme name](http://blog.nikosbaxevanis.com/2012/04/19/uri-support-in-autofixture/)? If not, could you provide some sample/pseudo code before putting effort on a proper pull request?

[2018-06-06 00:13] mrtylerzhou commented on #1041
thank you for you suggestion,I'll have a try

[2018-06-06 00:13] #1041 closed

[2018-06-06 12:09] #1042 closed

[2018-06-07 09:17] xlecoustillier opened #1046 "Nunit3 VS Adapter won't run AutoFixture AutoMoqDataAttribute"
I created an [issue](https://github.com/nunit/nunit3-vs-adapter/issues/342) on [nunit3-vs-adapter](https://github.com/nunit/nunit3-vs-adapter) almost one year ago (sorry for letting this idle for so long).

It seems that NUnit VS Adapter won't run tests marked with AutoMoqDataAttribute seemingly because of the random data being injected in the parameters messing up with the test discovery.

Do you

[2018-06-07 11:04] zvirja commented on #1046
Have you tested that with the latest version of AutoFixture? We have applied [a tweak](https://github.com/AutoFixture/AutoFixture/issues/862) in v4 to make it work fine. The idea is that now test name is stable as we replace dynamic parts with placeholders.

If it still doesn't work, please attach a test project and a full scenario, so we can investigate that further.

Thanks.

[2018-06-07 12:03] progala2 opened #1047 "Customize with a statement lambda does not work - is it expected?"
The following test fails:
[code]

The Control parameter is populated by a random string instead of generated int.

Version 4.0 - 4.4 ( I didn't test previous ones)
Net core 2.0 - 2.1

This works well
[code]

It looks like customizing using a statement lambda does not work.
Is it an expected behaviour?
And if yes, shouldn't it be added to some documentation? I lost lot of time figuring out what is

[2018-06-07 13:10] xlecoustillier commented on #1046
You're right, it works with the latest version.
I didn't test it in the latest version before because we are stuck on the v3.X (it's our fault, we unitentionnally use the bug fixed by the #781 ). I guess we'll have to handle this eventually.
Thanks for the quick reply :)

[2018-06-07 13:10] #1046 closed

[2018-06-07 13:19] zvirja commented on #1046
If you use one of the latest v3, you can still enable the fix. See more detail [here](https://github.com/AutoFixture/AutoFixture/wiki/Known-Issues#test-name-strategies-for-nunit3).

As for the update blocker, as far as I remember  we agreed on the solution in #966, aren't you fine with that approach? It's a pity to hear that you cannot now update due to the improvement we did :(

[2018-06-07 14:00] xlecoustillier commented on #1046
Thanks, I'll take a look.
About the update blocker, I'm totally fine with the approach, we just didn't manage to make the changes yet (business priorities and stuff :( ).

BTW, thanks for all the work in this really nice tool framework! 🎉

[2018-06-07 14:57] xlecoustillier commented on #1046
I tested the [tweak](https://github.com/AutoFixture/AutoFixture/wiki/Known-Issues#test-name-strategies-for-nunit3) you mentioned, it works great 👍
I can also close the [NUnit issue](https://github.com/nunit/nunit3-vs-adapter/issues/342) as well then.

Thanks again.

[2018-06-07 15:05] zvirja commented on #1046
Great to hear the fix works! :relaxed:

You're welcome, thanks for the warm words :wink:

[2018-06-10 00:29] CreepyGnome opened #1048 "InlineAutoData Isn't Following XUnit Serialization of Params for Visual Studio test runner"
Currently, if I use InlineData from XUnit the Visual Studio test runner will put all the ones of theory nest under the test and you can expand and see each one's results. If I use InlineAutoData and that is the only change then that very nice feature goes away. Doing some research this is explained by Brad Wilson why and what is required by XUnit to support this feature and when it doesn't work wh

[2018-06-11 11:55] zvirja commented on #1047
@progala2 Thanks for raising the question.

The existing behavior is by design. The reason is that `FromFactory`, `With` (and `Without`) methods are immutable, so they don't change the underlying object. Instead, they return a new object with configured graph.

The reason why the first test doesn't work is that you don't use the result of the invocations, so all the applied changes are discarded.

[2018-06-11 15:00] zvirja commented on #1048
Thanks for raising the issue 👍

I do understand the reasons behind the behavior you describe and it's very unlikely we can do something about that. The reason is more global and is not directly related to the mentioned issue.

AutoFixture data attributes (`AutoData`, `InlineAutoData`) are a tool to generate dynamic parameter values for tests. Each invocation generates a unique set of values, so it

[2018-06-11 20:48] progala2 commented on #1047
I see, they are immutable - it's much clear now.
Thank you for your answer and some additional tips!

[2018-06-11 20:48] #1047 closed

[2018-06-18 16:19] StefanoChiodino commented on #457
I've found the constructor used in the example given by @ploeh is obsolete and for whatever reason didn't work. I just extracted the `Func<IFixture>`  and used that instead of the and worked just fine.

[2018-06-20 12:40] bordecal opened #1049 "LambdaExpressionGenerator does not fulfill requests for LambdaExpression"
As currently implemented, `LambdaExpressionGenerator` only fulfills requests for subclasses of `LambdaExpression`, but not for `LambdaExpression` itself.  This leads to an object creation failure when attempting to use AutoFixture to create a `LambdaExpression` (or an instance of a class that takes a `LambdaExpression` as a constructor parameter).

In the absence of any specific typing information